@charset "utf-8";
/* CSS Document */ 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;} 
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} 
ul,li{list-style:none; margin:0; padding:0;}
a img{border:0;display: block;}
html, body {height: auto; }
em,i{font-style: normal;}
a:hover *,*:hover{-webkit-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
  -o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
/*颜色字体设置-start-*/
a{color:#000;text-decoration:none;cursor: pointer;}
a:hover{color:#c11312;}
p{color:#000;line-height:28px;}
body{background-color:white;overflow-x:hidden;font-size:16px;
  font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;}
/*颜色字体设置-end-*/
/******base*******/ 
.bk10,.bk20,.bk30,.bk40,.bk50,.bk60,.bk70,.bk80,.bk90,.bk100{width:100%;overflow: hidden;clear: both;display: block;}
.bk10{height:10px;}
.bk20{height:20px;}
.bk30{height:30px;}
.bk40{height:40px;}
.bk50{height:50px;}
.bk60{height:60px;}
.bk70{height:70px;}
.bk80{height:80px;}
.bk90{height:90px;}
.bk100{height:100px;}

.mL10 {margin-left: 10px;}
.mR10 {margin-right: 10px;}
.mT10{margin-top: 10px; }
.mB10{margin-bottom: 10px;}
.m10{margin: 10px;}
.pT10{padding-top: 10px; }
.pB10{padding-bottom: 10px; }
.pL10{padding-left:10px;}
.pR10{padding-right:10px;}
.p10{ padding: 10px;}
/******other*******/ 
.fl{float:left;display: inline-block;}
.fr{float:right;display: inline-block;}
/******clear float*******/ 
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } 
.clearfix {display: inline-table;} 
/* Hides from IE-mac \*/ 
* html .clearfix {height: 1%;} 
.clearfix {display: block;} 
/*通用*/
.w1280{width: 1280px;margin: 0 auto;height: auto;}
/*banner_box*/
.hed_ban{width: 100%;height: 930px;position: relative;display: block;}
/*banner*/
.slideBox{ width:100%; height:930px; overflow:hidden; position:relative;}
.slideBox .hd{font-size:0;display:none;overflow:hidden;height:0;}
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd li a{display: block;width: 100%;height:930px;}
.slideBox .prev,.slideBox .next{ position:absolute;top:50%; margin-top:-43px; display:block; width:86px; height:86px;
  filter:alpha(opacity=60);-ms-opacity:0.6;-moz-opacity:0.6;-webkit-opacity:0.6;-o-opacity:0.6;opacity: 0.6;}
.slideBox .prev{left:5%;background: url(/images/bn_pre.png) no-repeat; }
.slideBox .next{right:5%;background: url(/images/bn_next.png) no-repeat; }
.slideBox .prev:hover,.slideBox .next:hover{filter:alpha(opacity=100);-ms-opacity:1;-moz-opacity:1-webkit-opacity:1-o-opacity:1;opacity: 1;}
.slideBox .prevStop{ display:none;}
.slideBox .nextStop{ display:none;}
/*header*/
.header{width: 100%;position: absolute;left: 0;top:0px;z-index: 99999;height: 80px;background: url(/images/mask_b_8.png) repeat;
  display: block;}
.header .logo{width: 140px;height: 80px;display: block;
  background: url(/images/logo.png) left center no-repeat;}
.inheader{position: fixed;z-index: 9999999999999999999999;}
/*nav_box*/
.nav_box{width: 1000px;height: 80px;}
.nav{height:80px;line-height:80px;position:relative;z-index:1;}
.nav a{ color:#fff; text-align:center;}
.nav .nLi{ float:left;  position:relative; display:inline;}
.nav .nLi h3{ float:left;}
.nav .nLi h3 a{ display:block;position: relative;height: 78px;overflow:hidden;padding: 0 10px;border-bottom: 2px solid transparent;}
.nav .sub{ display:none; width:84px; left:0; top:80px;  position:absolute; background:#fff;padding: 10px 0;
  line-height:30px; font-size: 14px; }
.nav .sub li{ zoom:1; }
.nav .sub a{ display:block;color: #666;}
.nav .sub a:hover{background:#f2f2f2;color: #000;}
.nav .on h3 a{border-bottom: 2px solid #fff;}
/*ho_tit_all*/
.ho_tit_all{text-align: center;}
.ho_tit_all a{display: inline-block;margin: 0 auto;text-align: center;}
.ho_tit_all a img{margin: 0 auto;}
.ho_tit_all a h2{font-size: 32px;line-height: 50px;font-weight: bold;}
.ho_tit_all a h2 span{color: #666;}
.ho_tit_all a h3{color: #c11312;font-size: 30px;}
.ho_tit_all a p{color: #999;font-size: 16px;text-transform: uppercase;line-height: 20px;margin: 0 0 5px;}
/*item_out*/
.w310{width: 310px;}
.w960{width: 960px;}
.item_out .img{display: block;position: relative;overflow:hidden; }
.item_out .img img{display: block;}
.item_out .img .txt{position: absolute;z-index: 9999;display: block;text-align: center;}
.item_out .img .txt h2{font-size: 32px;color: #000;}
.item_out .img .txt p{font-size: 18px;text-transform: uppercase;color: #666;}

.item_out .img_2,.item_out .img_2 img{width: 310px;height: 230px;}
.item_out .img_2 .txt{width: 100%;height: 80px;left: 0;bottom: 0;}
.item_out .col_white .txt h2,.item_out .col_white .txt p{color: #fff;}

.item_out .img_1,.item_out .img_1 img{width: 640px;height: 470px;}
.item_out .img_1 .txt{width: 100%;height: 80px;left: 0;bottom: 0;}

.item_out .img_3,.item_out .img_3 img{width: 640px;height: 230px;}
.item_out .img_3 .txt{width: 100%;height: 80px;right: 20px;bottom:75px;text-align: right;}

.item_out .img_4,.item_out .img_4 img{width: 310px;height: 470px;}
.item_out .img_4 .txt{width: auto;height: auto;right: 20px;bottom:20px;writing-mode: tb-rl;}
.item_out .img_4 .txt h2{}
.item_out .img_4 .txt p{color: #fff;text-align :right;}
.item_out .img:hover img{-ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);
  -ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
  -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
.item_out .list li{float: left;display: inline-block;width: 160px;text-align: center;}
.item_out .list li a{display: block;}
.item_out .list li .btn_all{width:120px;height: 120px;overflow:hidden;display: block;margin: 0 auto 20px; }
.item_out .list li h2{font-size: 24px;color: #000;}
.item_out .list li p{font-size: 12px;color: #666;text-transform: uppercase;}

.item_out .list li .btn_1{background: url(/images/btn_1.png) no-repeat;}
.item_out .list li .btn_2{background: url(/images/btn_2.png) no-repeat;}
.item_out .list li .btn_3{background: url(/images/btn_3.png) no-repeat;}
.item_out .list li .btn_4{background: url(/images/btn_4.png) no-repeat;}
.item_out .list li .btn_5{background: url(/images/btn_5.png) no-repeat;}
.item_out .list li .btn_6{background: url(/images/btn_6.png) no-repeat;}
.item_out .list li .btn_7{background: url(/images/btn_7.png) no-repeat;}
.item_out .list li .btn_8{background: url(/images/btn_8.png) no-repeat;}

.item_out .list li:hover .btn_1{background: url(/images/btn_1.png) 0 -120px no-repeat;}
.item_out .list li:hover .btn_2{background: url(/images/btn_2.png) 0 -120px no-repeat;}
.item_out .list li:hover .btn_3{background: url(/images/btn_3.png) 0 -120px no-repeat;}
.item_out .list li:hover .btn_4{background: url(/images/btn_4.png) 0 -120px no-repeat;}
.item_out .list li:hover .btn_5{background: url(/images/btn_5.png) 0 -120px no-repeat;}
.item_out .list li:hover .btn_6{background: url(/images/btn_6.png) 0 -120px no-repeat;}
.item_out .list li:hover .btn_7{background: url(/images/btn_7.png) 0 -120px no-repeat;}
.item_out .list li:hover .btn_8{background: url(/images/btn_8.png) 0 -120px no-repeat;}

.item_out .list li:hover h2,.item_out .list li:hover p{color: #c11312 ;}
/*teacher_out*/
.teacher_out{background: #f2f2f2;width: 100%;height: auto;}

.picScroll-leftsys{ width:100%;  overflow:hidden; position:relative;height: auto;}
.picScroll-leftsys .hd{ overflow:hidden;  height:80px;position: absolute;top:50%;width: 100%;z-index: 999999;display: none;margin: -40px 0 0;}
.picScroll-leftsys .hd .prev,.picScroll-leftsys .hd .next{ display:block;  width:30px; height:80px;overflow:hidden;position: absolute;}
.picScroll-leftsys .hd .prev{ background: url(/images/cp_pre.png) 0 0 no-repeat;left: 0;}
.picScroll-leftsys .hd .next{ background: url(/images/cp_next.png) -30px 0 no-repeat;right: 0;}
.picScroll-leftsys .hd ul{font-size:0;display:none;overflow:hidden;height:0;}
.picScroll-leftsys .bd{}
.picScroll-leftsys .bd ul{ overflow:hidden; zoom:1; }
.picScroll-leftsys:hover .hd{display: block;}

.team_list_o li{float:left; display:inline-block;width: 240px;margin: 0 20px 0 0;}
.team_list_o li a{display: block;}
.team_list_o li a .pic{width: 100%;height: 450px;display: block;overflow:hidden;}
.team_list_o li a .pic img{width: 100%;height:auto;min-height: 450px;display: block;}
.team_list_o li a .txt{height: 80px;width: 100%;text-align: center;background: #e6e6e6;}
.team_list_o li a .txt h2{color: #000;font-size: 24px;padding: 10px 0 0;}
.team_list_o li a .txt p{color: #666;font-size: 18px;}
.team_list_o li:hover a .txt{background:#c11312 ; }
.team_list_o li:hover a .txt h2,.team_list_o li:hover a .txt p{color: #fff;}
.team_list_in{margin: 0 0 0 -20px;}
.team_list_in li{margin: 0 0 20px 20px;}
/*star_out*/
.star_out .list{margin: 0 0 0 -10px;}
.star_out .list li{width: 248px;height: auto;display: inline-block;float: left;margin: 0 0 0 10px;}
.star_out .list li.li_2,.star_out .list li.li_4{padding: 170px 0 0;}
.star_out .list li a{display: block;}
.star_out .list li a .pic{width: 100%;height: 170px;display: block;overflow: hidden;}
.star_out .list li a  .pic img{width: 100%;height:auto;min-height: 170px;display: block;}
.star_out .list li a:hover img{-ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);
  -ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
      -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
/*work_out*/
.work_out{width: 100%;height: auto;background: #f2f2f2;}

.picScroll-left-work{ width:100%;  overflow:hidden;height: auto;position: relative;}
.picScroll-left-work .hd{ overflow:hidden;  height:14px;margin-top:30px;}
.picScroll-left-work .hd ul{overflow:hidden; zoom:1; text-align: center; }
.picScroll-left-work .hd ul li{ width:14px; height:14px; background: #000;display: inline-block;
  -ms-border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;-o-border-radius: 15px; border-radius: 15px;
  margin:0 5px; text-indent:999px; cursor:pointer; }
.picScroll-left-work .hd ul li.on{background: #c11312;}

.picScroll-left-work .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left-work .bd ul li{float:left; _display:inline; overflow:hidden; width: 305px;margin: 0 20px 0 0;}
.picScroll-left-work .bd ul li a{display: block;}
.picScroll-left-work .bd ul li a .pic{width: 100%;height: 400px;display: block;overflow: hidden;}
.picScroll-left-work .bd ul li a img{width: 100%;height:auto;min-height: 400px;display: block;}
.picScroll-left-work .bd ul li a:hover img{-ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);
  -ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
      -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
/*video_out*/
.video_out{width: 100%;height: 630px;background: url(/images/video_bg.jpg) center no-repeat;text-align: center;}
.video_out a{width: 800px;height: 420px;display: inline-block;margin: 0 auto;}
/*slideTxtBox*/
.slideTxtBox{ width:100%;}
.slideTxtBox .hd{ height:130px;position:relative; }
.slideTxtBox .hd ul{ position:absolute; left:-10px; top:0px; height:130px;   }
.slideTxtBox .hd ul li{ float:left; cursor:pointer; margin: 0 0 0 10px;text-align: center;
  width: 205px;height: 130px;background: url(/images/com_six.jpg) 0 0 no-repeat; }
.slideTxtBox .hd ul li a{display: block;}
.slideTxtBox .hd ul li a h2,.slideTxtBox .hd ul li a p{color: #fff;text-transform: uppercase;font-size: 12px;}
.slideTxtBox .hd ul li a h2{font-size: 24px;padding: 40px 0 0;}
.slideTxtBox .hd ul li.on{background: url(/images/com_six.jpg) 0 -130px no-repeat; }
.slideTxtBox .bd{zoom:1; margin: 10px 0 0; }

.compus_img .img_all{display: block;}
.compus_img .img_all .pic{display: block;overflow: hidden;}
.compus_img .img_all .pic img{display: block;height: auto;width: 100%;min-height: 250px;}

.compus_img .img_1,.compus_img .img_1 .pic{width: 420px;height: 250px;}
.compus_img .img_2,.compus_img .img_2 .pic{width: 640px;height: 250px;}

.compus_img .txt{width: 200px;height: 250px;background: #c11312;text-align: center;}
.compus_img .txt h2,.compus_img .txt p{color: #fff;text-transform: uppercase;font-size: 18px;}
.compus_img .txt h2{font-size: 24px;padding: 90px 0 0;}
.compus_img .txt p{line-height: 22px;}
.compus_img .img_all:hover img{-ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);
  -ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
      -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
/*news_out*/
.news_out{background: #f2f2f2;width: 100%;height: auto;}

.news_list_o li{width: 410px;height: auto;float: left;display: inline-block;margin: 0 25px 0 0;}
.news_list_o li a{display: block;}
.news_list_o li a .pic{width: 410px;display: block;height: 260px;overflow: hidden;}
.news_list_o li a .pic img{width: 100%;height: auto;min-height: 260px;display: block;}
.news_list_o li a .txt{width: 370px;height: 140px;text-align: center;background: #fff;padding:20px 20px 0;}
.news_list_o li a .txt h2{font-size: 18px;padding: 0 0 10px;color: #000;
  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;}
.news_list_o li a .txt p{color: #666;}
.news_list_o li:hover a img{-ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);
  -ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
      -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
.news_list_in{margin: 0 0 0 -25px;}
.news_list_in li{margin: 0 0 25px 25px;}
.news_list_in li a .txt{background: #f2f2f2;}
/*privilege*/
.privilege .list{margin: 0 0 0 -20px;}
.privilege li{float: left;display: inline-block;width: 245px;padding: 30px 30px 0;margin: 0 0 0 20px;
  background: url(/images/privige_bg.png) no-repeat;height: 310px;}
.privilege li .txt h2{font-size: 24px;margin: 0 0 10px;}
.privilege li .txt p{color: #666;font-size: 14px;line-height: 20px;height: 90px;}
.privilege li .bot{margin: 50px 0 0;}
.privilege li .bot p{font-size: 22px;line-height: 28px;color: #999;text-transform: uppercase;}
/*goenrol*/
.goenrol{width: 100%;height: auto;padding: 30px 0;background: #c11312 ;text-align: center;}
.goenrol h2,.goenrol p{color: #fff;}
.goenrol h2{font-size: 44px;text-transform: uppercase;}
.goenrol p{font-size: 24px;}
.goenrol a{width: 400px;height: 50px;background: #fff;line-height: 50px;font-size: 24px;
  -ms-border-radius: 25px; -moz-border-radius: 25px; -webkit-border-radius: 25px;-o-border-radius: 25px; border-radius: 25px;
  color:#c11312 ;display: inline-block;margin: 20px auto 0; }
.goenrol a:hover{background: #8f0d0d;color: #fff;}
/*footer*/
.footer{width: 100%;height: auto;background: #000;overflow: hidden;text-align: center;}
.footer .fot_nav{background: url(/images/fot_nav.png) center top no-repeat;
  width: 100%;height: 50px;line-height: 50px;padding: 0 0 25px;}
.footer .fot_nav a{float: left;color: #fff;width: 160px;display: inline-block;}
.footer a:hover{text-decoration: underline;}
.footer .ewm img{width: 200px;height: 200px;border: 10px solid #fff;display: inline-block;margin: 0 auto 10px;}
.footer p{color: #fff;}
.footer .txt p{font-size: 24px; line-height: 40px;}
.footer .txt p span{font-size: 34px;}
.footer .bot{border-top: 1px solid #333;line-height: 50px;color: #333;}
.footer .bot a{color:#333; }
/*右侧悬浮框*/
.float_onlie{position: fixed;top:10%;right:20px;width: 80px;height: auto;z-index: 99999999;}
.float_onlie a{display: block;width: 80px;height: 90px;margin: 0 0 1px 0;
    background: url(/images/cbar.png) no-repeat;
    -webkit-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
    -o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
.float_onlie a.on_1{background-position: 0 0;}
.float_onlie a.on_2{background-position: 0 -91px;position:relative;}
.float_onlie a.on_2 em,.float_onlie a.on_3 em{background: #c11312 ;color:#fff;width: 180px;height: 50px;font-size: 16px;padding:20px;text-align: center;line-height: 25px;}
.float_onlie a.on_2 em{display: none;position: absolute;left: -220px;top:0;line-height: 50px;}
.float_onlie a.on_3{background-position: 0 -182px;position:relative;}
.float_onlie a.on_3 em{display: none;position: absolute;left: -220px;top:0;}
.float_onlie a.on_4{background-position: 0 -273px;position:relative;}
.float_onlie a.on_4 em{width: 180px;height: 180px;display: none;position: absolute;left: -180px;top:0px;}
.float_onlie a.on_4 em img{width:180px;height: 180px;}
.float_onlie a.on_5{background-position: 0 -364px;}
.float_onlie a:hover.on_1{background-position: -80px 0;}
.float_onlie a:hover.on_2{background-position: -80px -91px;}
.float_onlie a:hover.on_2 em{display: inline-block;}
.float_onlie a:hover.on_3{background-position: -80px -182px;}
.float_onlie a:hover.on_3 em{display: inline-block;}
.float_onlie a:hover.on_4{background-position: -80px -273px;}
.float_onlie a:hover.on_4 em{display: inline-block;}
.float_onlie a:hover.on_5{background-position: -80px -364px;}
/*bread*/
.bread{text-align: center;margin: 0 0 60px;}

.in_tit_all{line-height: 90px;height: 90px;}
.in_tit_all  .bt{border-left: 2px solid #c11312;height: 90px;font-size: 24px;
  display: inline-block;color: #666;text-transform: uppercase;}
.in_tit_all  .bt span{font-size: 38px;padding: 0 20px;}

.bread .sublist{border: 1px solid #ccc;border-top: none;margin:30px 0 0;}
.bread .sublist li{background: url(/images/sub_li.png) center top no-repeat;padding: 40px 0 20px;float: left;display: inline-block;}

.bread .sub_2 li{width: 50%;}
.bread .sub_3 li{width: 33.33333333333333%;}
.bread .sub_4 li{width: 25%;}
.bread .sub_5 li{width: 20%;}
.bread .sub_6 li{width: 16.66666666666667%;}
.bread .sub_7 li{width: 14.28571428571429%;}
.bread .sub_8 li{width: 12.5%;}
.bread .sub_9 li{width: 11.11111111111111%;}
.bread .sub_10 li{width: 10%;}
.bread .sublist li a{display: block;font-size: 28px;color: #666;}
.bread .sublist li a span{display: block;font-size: 14px;text-transform: uppercase;}
.bread .sublist li:hover,.bread .sublist li.on{background:url(/images/sub_hv.png) center top no-repeat; }
.bread .sublist li:hover a,.bread .sublist li.on a{color: #000;}
/*wap_box*/
.wap_box{width: 100%;height: auto;}
.wap_box img{max-width: 1280px;}
/*txt_model_1*/
.txt_model_1{width: 100%;height: auto;}
.txt_model_1 img{max-width: 1280px;}
/*page*/
.pageJump {text-align: left;padding:20px 0 30px;line-height: 20px;width: 100%;overflow: hidden;}
.pageJump .number {margin: auto auto auto 42%;width: auto;display: block;float: none;height: auto;}
.pageJump .number .disabled {background:#000;color: #fff;padding:5px 10px;}
.pageJump .number .disabled a{color: #fff;}
.pageJump .number .disabled:hover{background:#333;}
/*返回*/
.backpre {text-align:center;margin:30px 0 0;}
.backpre a{height:24px;background: #000;line-height:24px;
    padding:10px 20px;color: #fff;
    display: inline-block;text-align: center;}
.backpre a:hover{background:#333;}
/*新闻详细页*/
.txt_model_2 .top{line-height: 100px;text-align: center;font-size: 28px;}
.txt_model_2 .p_style{padding: 0 0 20px;}
/*contact_in*/
.contact_in{padding: 30px 200px 0;}
.contact_in .top{border: 1px solid #ccc;text-align: center;padding: 30px 0;}
.contact_in .top p{color: #000;font-size: 18px;}
.contact_in .top span{font-size: 32px;display: block;color: #666;}
.contact_in .ewm{text-align: center;margin: 30px 0 0;font-size:28px;}
.contact_in .ewm p{line-height: 40px;}
.contact_in .ewm img{display: inline-block;margin: 30px auto 0;border: 10px solid #fff;}
/*contact*/
.on_form_2 p{margin: 0 0 20px;}
.on_form_2 .input,.on_form_2 select,.on_form_2 .textarea{font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;
  background:#f2f2f2;border:none;color:#666;font-size:16px;}
.on_form_2 .input,.on_form_2 select{height:50px;line-height:50px;width:100%;text-indent: 10px;}
.on_form_2 .textarea{line-height:24px;padding:10px;color:#666;width:1260px; height:100px;overflow-y: scroll;}
.on_form_2 button{width: 100%;height: 50px;background:#000; font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;
  color: #fff;line-height: 50px;font-size: 24px;display: inline-block;border: none;}
.on_form_2 button:hover{background:#c11312;color: #fff;}
/*compus*/
.compus_list_in{margin: 0 0 0 -25px;}
.compus_list_in li{width: 410px;height: auto;float: left;display: inline-block;margin: 0 0 25px 25px;}
.compus_list_in li a{display: block;}
.compus_list_in li a .pic{width: 410px;display: block;height: 260px;overflow: hidden;}
.compus_list_in li a .pic img{width: 100%;height: auto;min-height: 260px;display: block;}
.compus_list_in li a .txt{height: 60px;text-align: center;line-height: 60px;font-size: 24px;color: #333;}
.compus_list_in li:hover a .txt{background: #f2f2f2;color: #000;}
.star_inhover li:hover .pic img{-ms-transition: all 320ms ease-out 0s-moz-transition: all 320ms ease-out 0s;-webkit-transition: all 320ms ease-out 0s;
  -o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;
  transform: scale(1.2);
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -o-transform: scale(1.2);
  -ms-transform: scale(1.2); 
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.2, M12=0, M21=0, M22=1.2, SizingMethod='auto expand')"; 
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.2, M12=0, M21=0, M22=1.2, SizingMethod='auto expand'); 
  background-position:center}
.compus_in{margin: 20px 0 0;}
.compus_in .top{border: 1px solid #ccc;text-align: center;padding: 30px 0;}
.compus_in .top p{color: #000;font-size: 18px;}
.compus_in .top span{font-size: 32px;display: block;color: #666;}
.compus_in .top a{width: 180px;height: 40px;background:#c11312;display: inline-block;margin: 0 auto;
  line-height: 40px;text-align: center;color: #fff;font-size: 18px;}
.compus_in .top a:hover{background: #8f0d0d;}
.compus_in .mid{border: 1px solid #ccc;padding: 49px;}
.compus_in .mid .tit{line-height: 60px;border-bottom: 1px solid #ccc;text-align: center;font-size: 24px;}
.compus_in .mid .dis{margin: 20px 0 0;color: #666;}
.compus_in .mid .dis p{color: #666;}
/**/
.xc_video{width: 1280px;height:730px;margin: 30px auto 30px;}
/*work_list_in*/
.work_list_in{margin: 0 0 0 -20px;}
.work_list_in li{float: left;width: 305px;display: inline-block;margin: 0 0 20px 20px;}
.work_list_in li a{display: block;}
.work_list_in li a .pic{width: 100%;height: 400px;display: block;overflow: hidden;position: relative;}
.work_list_in li a img{width: 100%;height:auto;min-height: 400px;display: block; }
.work_list_in li a .txt{position: absolute;left: 0;bottom:-400px;width: 100%;background: url(/images/mask_b_8.png) repeat;
  text-align: center;line-height: 400px;color: #fff;font-size: 24px;}
.work_list_in li a:hover .txt{bottom: 0;-ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
      -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}

/*teacher_dis*/
.teacher_dis{border-bottom: 1px solid #ccc;padding: 0 100px 50px;}
.teacher_dis .pic{width: 300px;}
.teacher_dis .pic img{width: 100%;height: auto;}
.teacher_dis .txt{width: 700px;}
.teacher_dis .txt .tit{font-size: 24px;border-bottom: 1px solid #ccc;line-height: 100px;}
.teacher_dis .txt .zw{margin: 10px 0 40px;}
/*wor_tea_in*/
.wor_tea_in .tit{text-align: center;line-height: 50px;font-size: 24px;color: #333;
  margin: 0 auto 40px;border: 1px solid #ccc;width: 300px;display: block;}
/*item_ban*/
.item_ban .pic{width: 256px;display: inline-block;height: 336px;overflow: hidden;}
.item_ban .pic img{-ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);
  width: 100%;height: auto;min-height: 336px;display: block;}
.w360{width: 360px;}
.w500{width: 500px;}
.w120{width: 120px;}
.text_c{text-align: center;}
.item_inlist .top{border-bottom: 1px solid #ccc;line-height: 80px;padding: 0 30px;}
.item_inlist .list li{padding: 30px;border-bottom: 1px solid #ccc;}
.item_inlist .list li a{display: block;}
.item_inlist .list li a .img{width: 300px;height: 220px;overflow: hidden;display: block;}
.item_inlist .list li a .img img{width: 100%;height:auto;min-height: 220px;display: block;}
.item_inlist .list li a .dis{width: 480px;padding: 30px 0 0;}
.item_inlist .list li a .dis h2{font-size: 18px;line-height: 60px;}
.item_inlist .list li a .dis p{color: #666;}
.item_inlist .list li a .pp{line-height: 220px;color: #666;}
.item_inlist .list li:hover{background: #f8f8f8;}

.item_kc_bt{text-align: center;line-height: 50px;font-size: 24px;color: #333;
  margin: 0 auto 40px;border: 1px solid #ccc;width:400px;display: block;}
.item_kc_bt2{text-align: center;line-height:100px;font-size: 32px;color: #333;
  margin: 0 auto 40px;border: 1px solid #ccc;display: block;}
/*1*/
.item_class_1 .img{width: 300px;height: 220px;overflow: hidden;display: block;}
.item_class_1 .img img{width: 100%;height:auto;min-height: 220px;display: block;}
.item_class_1 .dis{width: 940px;}
.item_class_1 .dis h2{font-weight: bold;line-height: 60px;}
/*2*/
.item_class_2{border: 1px solid #ccc;padding: 30px;text-align: center;}
.item_class_2 dl{float: left;display: inline-block;width: 25%;}
.item_class_2 dl dt{border-bottom: 1px solid #ccc;padding: 0 0 30px;font-size: 18px;}
.item_class_2 dl dd{color: #666;padding: 30px 0 0;}
/*2*/
.item_class_3{border: 1px solid #ccc;padding: 30px 100px;text-align: center;}
.item_class_3 .tit{font-size: 22px;padding: 0 0 20px;margin: 0 0 30px;
  background: url(/images/bt_line.jpg) center bottom no-repeat;}
.item_class_3 .dis,.item_class_3 .dis p{color: #666;}
/*3*/
.item_class_4 .tit{text-align: center;line-height:60px;font-size: 22px;
  margin: 0 auto 40px;border: 1px solid #ccc;display: block;}
.item_class_4 .list{margin: 0 0 0 -20px;}
.item_class_4 .list li{float: left;width: 305px;display: inline-block;margin: 0 0 0 20px;}
.item_class_4 .list li img{width: 100%;height: 220px;display: block;}
.item_class_4 .list li h2{padding: 10px 0;line-height: 30px;font-size: 18px;}
.item_class_4 .list li .li,.item_class_4 .list li .li p{color: #666;}
/*4*/
.item_class_5 a{text-align: center;line-height:60px;font-size: 22px;background: #c11312;color: #fff;
  margin: 0 auto 40px;display: block;}
.item_class_5 a:hover{background: #8f0d0d;}
#gray{width:100%;height:100%;background:rgba(0,0,0,0.3);position:fixed;top:0px;display:none;z-index:99;left: 0;}
.popup{width:600px; height:540px;background:#fff;position:absolute;z-index:10000000000;
  left:300px;top:250px;display:none;}

.popup .top_nav{width:600px;height:60px;border-bottom:1px solid #ccc;color: #333; 
  position:relative;cursor:move;text-align: center;line-height: 60px;font-size:24px;}
.popup .top_nav a.guanbi { background:url(/images/popup_guanbi.png) repeat 0px 0px; 
  width:40px; height: 40px; display: block; position:absolute;top:15px;right:10px;cursor:pointer;}
.popup .top_nav a.guanbi span { display: none;}
.popup .top_nav a.guanbi:hover { background: url(/images/popup_guanbi.png) repeat 0px -35px; }

.popup .min{width:540px;height:auto;padding:30px;}

.tc_login{width:540px;margin: 0 auto;}
.tc_login p{height: 50px;line-height: 50px;width: 100%;margin:20px 0px 0px 0px;}
.tc_login .p1 input{background: #f2f2f2;text-indent: 10px;width: 100%;height: 50px;line-height: 50px;border: none;
  font-size: 18px;font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;}
.tc_login .btnch{padding:20px 0 0;height: auto;width: 100%;text-align: center;}
.tc_login .button{background:#c11312;border: none;color: #fff;cursor: pointer;
  height: 50px;font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;font-size: 22px;
  text-align: center;width: 100%;}
.tc_login   .button:hover {background: #8f0d0d;}

.cls_dis{color: #333;border: 1px solid #ccc;text-align: center;height:140px;padding: 20px 0;}
.cls_dis h2{padding: 0 0 10px;font-size: 18px;}
.cls_dis p{color: #666;}



/*  
#c11312  8f0d0d

95d540
background:#00E2BB;background:-webkit-linear-gradient(left,#00DAEE,#00EA8F);
    .rotate_img li a:hover img{-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);
    transform:rotate(360deg); 
  -ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
      -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}

    .boost_img li:hover img{
  -ms-transition: all 320ms ease-out 0s-moz-transition: all 320ms ease-out 0s;-webkit-transition: all 320ms ease-out 0s;
  -o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  -ms-transform: scale(1.5); 
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')"; 
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); 
  background-position:center}

 .hd_empty{font-size:0;display:none;overflow:hidden;height:0;width: 0;}
 .mask_black{background: #000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5;display: block;}
 .txt_elip{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;}
.filter_img li a:hover img{filter:alpha(opacity=80);-ms-opacity:0.8;-moz-opacity:0.8;-webkit-opacity:0.8;-o-opacity:0.8;opacity: 0.8;}
  .gray_img li a:hover img{-ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);
  -ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
      -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
    字体正文颜色   color: #666666;
    字体标题颜色   color: #333333;
    色系hover      color: #f39600;   黄 #e77119
    背景           background:#f5f5f5;
    边框           border: 1px solid #d6d6d6;
    字体           font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;
    
    
    空格  span style='white-space:pre;
    背景  background:transparent;   透明
          background: url(/images/phone.png) left center no-repeat;
          background: radial-gradient(white, #EEF6F9);   渐变
          background-attachment: fixed;    背景固定
          background-clip:content-box;     背景裁剪  border-box 背景被裁剪到边框盒。 padding-box 背景被裁剪到内边距框。 content-box 背景被裁剪到内容框。
          background-size:80px 60px;       背景大小  length值    percentage百分比    cover完全覆盖    contain完全适应
    边框  border: medium double rgb(250,0,255) 
          borde-with: thin细的边框。 medium  默认;中等的边框。thick粗的边框。length宽度。inherit规定应该从父元素继承边框宽度。
          border-style: dotted点状边框。   dashed虚线。solid 实线。  double 双线。               groove  3D凹槽边框。
                        ridge 3D垄状边框。 inset 3Dinset边框。       outset 3Doutset边框。
    边框图片  border:15px solid transparent;border-image:url(/i/border.png) 30 30 round;
              border-image-source 图片路径。  border-image-slice  图片边框向内偏移。 border-image-width  图片边框的宽度。     
              border-image-outset 边框图像区域超出边框的量。                         border-image-repeat 图像边框是否应平铺(repeated)、铺满(rounded)或拉伸(stretched)。
    轮廓线outline:#00ff00 dotted thick;
    大写  text-transform: uppercase;
    行内  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;
    圆角  -ms-border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;-o-border-radius: 15px; border-radius: 15px;
    阴影  box-shadow:4px 2px 6px 6px #333333 inset;
          h-shadow  必需。水平阴影的位置。允许负值。  v-shadow  必需。垂直阴影的位置。允许负值。  
          blur  可选。模糊距离。                      spread  可选。阴影的尺寸。 
          color 可选。阴影的颜色。                    inset 可选。将外部阴影 (outset) 改为内部阴影。
    文本  text-shadow: X-Offset Y-Offset blur color;
    .mask{background: #000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5;display: block;}
    .elip{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;}
    hd为空 {font-size:0;display:none;overflow:hidden;height:0;}
    分列  columns:100px 3;
*/

/*
H5基本样式
缩放  -ms-transform:scale(1.2);-moz-transform:scale(1.2);-webkit-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);  
      scale(x,y)  定义 2D 缩放转换。                    scale3d(x,y,z)  定义 3D 缩放转换。 
      scaleX(x)   通过设置 X 轴的值来定义缩放转换。     scaleY(y) 通过设置 Y 轴的值来定义缩放转换。 
      scaleZ(z)   通过设置 Z 轴的值来定义 3D 缩放转换。
旋转  -ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg); 
      rotate(angle)   定义 2D 旋转，在参数中规定角度。  rotate3d(x,y,z,angle) 定义 3D 旋转。 
      rotateX(angle)  定义沿着 X 轴的 3D 旋转。         rotateY(angle)  定义沿着 Y 轴的 3D 旋转。  
      rotateZ(angle)  定义沿着 Z 轴的 3D 旋转。
位移  -ms-transform:translateX(45px);-moz-transform:translateX(45px);-webkit-transform:translateX(45px);-o-transform:translateX(45px);transform:translateX(45px);    
      translate(x,y)  定义 2D 转换。                    translate3d(x,y,z)  定义 3D 转换。 
      translateX(x)   定义转换，只是用 X 轴的值。       translateY(y) 定义转换，只是用 Y 轴的值。 
      translateZ(z)   定义 3D 转换，只是用 Z 轴的值。
倾斜  -ms-transform:skew(160deg,160deg);-moz-transform:skew(160deg,160deg);-webkit-transform:skew(160deg,160deg);-o-transform:skew(160deg,160deg);transform:skew(160deg,160deg);     
      skewX(angle)  定义沿着 X 轴的 2D 倾斜转换。       skewY(angle)  定义沿着 Y 轴的 2D 倾斜转换。
      skew(x-angle,y-angle) 定义沿着 X 和 Y 轴的 2D 倾斜转换。
过渡  -ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
      -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;
灰度  -ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);
透明  filter:alpha(opacity=80);-ms-opacity:0.8;-moz-opacity:0.8;-webkit-opacity:0.8;-o-opacity:0.8;opacity: 0.8;
为 3D 转换元素定义透视视图。 perspective(n)
*/

/*
时间差先后顺序     
data-300-center-top="transform: scale(0.8); opacity: 0" data-300-center-center="transform: scale(1); opacity: 1"    变大小
data-100-bottom-center="transform: rotateY(-90deg); opacity: 0" data-100-center-center="transform: rotate(0); opacity: 1" 旋转
data-100-bottom-top="transform: translateX(-200px); opacity: 0" data-center-top="transform: translateX(0px); opacity: 1"  左右-收拢效果
tdata-100-bottom-top="transform: translateY(200px); opacity: 0" data-center-top="transform: translateY(0px); opacity: 1"  上下-收拢效果
data-bottom-top="max-width: 200px;" data-bottom-bottom="max-width: 600px;"  变长短
300》200》100

data-wow-delay="0.5s"
*/

/*
animation 动画示例
.balloon > div:nth-child(1) {background: rgba(182, 15, 97, 0.9);left: 0;box-shadow: inset 10px 10px 10px rgba(135, 11, 72, 0.9);
  -moz-animation: balloon1 6s ease-in-out infinite;-o-animation: balloon1 6s ease-in-out infinite;}
@-webkit-keyframes balloon1 {
  0%,100% {-webkit-transform: translateY(0) rotate(-6deg);}
  50% {-webkit-transform: translateY(-20px) rotate(8deg);}}
@-moz-keyframes balloon1 {
  0%,100% {-moz-transform: translateY(0) rotate(-6deg);}
  50% {-moz-transform: translateY(-20px) rotate(8deg);}}
@-o-keyframes balloon1 {
  0%,100% {-o-transform: translateY(0) rotate(-6deg);}
  50% {-o-transform: translateY(-20px) rotate(8deg);}}
@keyframes balloon1 {
  0%,100% {transform: translateY(0) rotate(-6deg);}
  50% {transform: translateY(-20px) rotate(8deg);}}
*/


/*
<div class="parallax-image-wrapper" data-anchor-target="#page-intro" data-bottom-top="transform:translateY(200%)" data-top-bottom="transform:translateY(0)">
    <div class="parallax-image" style="background-image:url(assets/images/coast.jpg)" data-anchor-target="#page-intro" 
         data-bottom-top="transform: translateY(-80%);" data-top-bottom="transform: translateY(80%);">
    </div>
</div>
<div id="skrollr-body">
    <div id="page-intro" class="gap" style="background-image:url(assets/images/coast.jpg); ">
        <h1>使用6种不同视觉差特效的HTML5页面设计效果</h1>
    </div>
    <div class="dummy-content">
        <h2>Scroll to see the effect!</h2>
    </div>
</div>


 */