@charset "utf-8";
/* CSS Document */ 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;} 
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} 
ul,li{list-style:none; margin:0; padding:0;}
a img{border:0;display: block;}
html, body {height: auto; }
em,i{font-style: normal;}
a:hover *,*:hover{-webkit-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
  -o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
/*颜色字体设置-start-*/
a{color:#333;text-decoration:none;}
a:hover{color:#69b83b;}
p{color:#333;line-height:24px;}
body{background-color:white;overflow-x:hidden;font-size:14px;
  font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;}
/*颜色字体设置-end-*/
/******base*******/ 
.bk10,.bk20,.bk30,.bk40,.bk50,.bk60,.bk70,.bk80,.bk90,.bk100{width:100%;overflow: hidden;clear: both;display: block;}
.bk10{height:10px;}
.bk20{height:20px;}
.bk30{height:30px;}
.bk40{height:40px;}
.bk50{height:50px;}
.bk60{height:60px;}
.bk70{height:70px;}
.bk80{height:80px;}
.bk90{height:90px;}
.bk100{height:100px;}

.mL10 {margin-left: 10px;}
.mR10 {margin-right: 10px;}
.mT10{margin-top: 10px; }
.mB10{margin-bottom: 10px;}
.m10{margin: 10px;}
.pT10{padding-top: 10px; }
.pB10{padding-bottom: 10px; }
.pL10{padding-left:10px;}
.pR10{padding-right:10px;}
.p10{ padding: 10px;}
/******other*******/ 
.fl{float:left;display: inline-block;}
.fr{float:right;display: inline-block;}
/******clear float*******/ 
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } 
.clearfix {display: inline-table;} 
/* Hides from IE-mac \*/ 
* html .clearfix {height: 1%;} 
.clearfix {display: block;} 
/*通用*/
.w1160{width: 1160px;margin: 0 auto;height: auto;}
.skrollr-desktop body {height:100% !important;}
#skrollr-body {height:100%;position:relative;overflow: hidden;}
.ho_tit_all{text-align: center;}
.ho_tit_all p{text-transform: uppercase;}
.ho_tit_all h2{font-size: 36px;margin: 0 0 20px 0;}
.ho_tit_all h3{color:#666;font-size: 20px;background: url(../images/ho_tit_line.png) center bottom no-repeat;padding: 0 0 20px; }
/*通用*/
/*header*/
.header{width: 100%;height: 80px;background: #fff;position: fixed;top:0;left: 0;z-index: 9999999999999999;border-bottom: 5px solid #69b83b;}
.header .logo{width:210px;height: 80px;background: url(../images/logo.png) center no-repeat;display: inline-block; }
.header .hd_btn{height: 30px;padding: 25px 0 0;}
.header .btn{display: inline-block;height: 30px;position: relative;width: 30px;}
.header .btn .d_1,.header .btn .d_2{position: absolute;left: 0;top:0;}
.header .btn .d_1{width: 30px;height: 30px;}
.header .btn .d_2{width: 0;height:30px;}
.header .btn:hover .d_1,.header .btn:hover .d_2,.header .btn_3:hover .d_3{-ms-transition: all 320ms ease-out 0s-moz-transition: all 320ms ease-out 0s;
  -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
.header .btn:hover{width: 180px;}
.header .btn:hover .d_1{width: 0;height: 0;}
.header .btn:hover .d_2{width: 180px;display: block;}
.header .btn_3 .d_3{width: 180px;height: 250px;position: absolute;top:40px;right: 0;z-index: 999999999999999;
  -ms-transform:scale(0);-moz-transform:scale(0);-webkit-transform:scale(0);-o-transform:scale(0);transform:scale(0);}
.header .btn_3:hover .d_3{-ms-transform:scale(1);-moz-transform:scale(1);-webkit-transform:scale(1);-o-transform:scale(1);transform:scale(1);}
.mL20{margin: 0 0 0 5px;}

/*nav*/
.nav_box{width:540px;height:80px;}
.nav{height:80px;position:relative;z-index:1;}
.nav a{text-align:center;}
.nav .nLi{ float:left;  position:relative; display:inline;width:90px;}
.nav .nLi h3{ float:left;width: 90px;display: inline-block;}
.nav .nLi h3 a{font-size:16px;width: 90px;height: 60px;display: inline-block;padding: 20px 0 0;}
.nav .nLi h3 a span{display: block;color: #666;font-size: 12px;text-transform: uppercase;}
.nav .sub{ display:none; width:90px; left:0; top:80px;  position:absolute; background:#f4f4f4; line-height:40px;  }
.nav .sub li{ zoom:1; }
.nav .sub a{ display:block;color: #333;font-size: 12px;}
.nav .sub a:hover{text-decoration: underline;}
.nav .on h3 a,.nav h3 a:hover{background: #69b83b;color: #fff; }
.nav .on h3 a span,.nav h3 a:hover span{color: #fff;} 
/*banner*/
.banner_box{width: 100%;height: 700px;}
.DB_tab25 {width:100%;height:700px;position:relative;overflow:hidden;cursor:pointer;}
.DB_tab25 .DB_bgSet{position:relative;}
.DB_tab25 .DB_bgSet li{position:absolute;width:100%;height:700px;display:none;}
.DB_tab25 .DB_imgSet{position:absolute;width:1160px;left:50%;margin-left:-580px;}
.DB_tab25 .DB_imgSet .DB_1_1{position:absolute;left:195px;top:302px;}
.DB_tab25 .DB_imgSet .DB_1_2{position:absolute;left:195px;top:230px}
.DB_tab25 .DB_imgSet .DB_1_3{position:absolute;left:228px;top:405px}
.DB_tab25 .DB_imgSet .DB_2_1{position:absolute;left:170px;top:150px;}
.DB_tab25 .DB_imgSet .DB_2_2{position:absolute;left:280px;top:430px}
.DB_tab25 .DB_imgSet .DB_2_3{position:absolute;left:-380px;top:0px}
.DB_tab25 .DB_imgSet .DB_3_1{position:absolute;left:195px;top:263px;}
.DB_tab25 .DB_imgSet .DB_3_2{position:absolute;left:100px;top:88px}
.DB_tab25 .DB_imgSet .DB_3_3{position:absolute;left:60px;top:92px}
.DB_tab25 .DB_menuWrap{position:absolute;width:100%;left:0;}
.DB_tab25 .DB_prev{position:absolute;left:140px;top:300px;cursor:pointer;display:none}
.DB_tab25 .DB_next{position:absolute;right:140px;top:300px;cursor:pointer;display:none}
/*skillout*/
.skillout .list{margin: 0 0 0 -20px;}
.skillout .list li{float: left;margin: 0 0 0 20px;}
.skillout .list li,.skillout .list li a{width: 275px;height: 440px;background: #fff;}
.skillout .list li a .icon{width: 275px;height: 160px;display: inline-block;}
.skillout .list li a .icon img{width: 120px;height: 120px;display: block;margin: 20px auto 0;}
.skillout .list li a .bot{width: 255px;height:279px;border: 1px solid #fff;border-top: none;text-align: center;padding: 0 9px;}
.skillout .list li a h2{font-size: 20px;line-height: 50px;padding: 10px 0 0;}
.skillout .list li a .nr{height: 92px;padding: 0 0 10px;margin: 0 0 10px;}
.skillout .list li a .xl span{width: 110px;height: 30px;display: inline-block;line-height: 30px;color: #fff;margin: 12px 0 0 12px;float: left;}


.skillout .list li.li_1 a:hover .icon,.skillout .list li.li_1 a .xl span{background:#f6503a;}
.skillout .list li.li_1 a h2,.skillout .list li.li_1 a p{color: #f6503a;}
.skillout .list li.li_1 a .nr{background: url(../images/ho_skill_l1.png) center bottom no-repeat;}
.skillout .list li.li_1 a:hover .bot{border: 1px solid #f6503a;border-top: none;}

.skillout .list li.li_2 a:hover .icon,.skillout .list li.li_2 a .xl span{background:#ffa800;}
.skillout .list li.li_2 a h2,.skillout .list li.li_2 a p{color: #ffa800;}
.skillout .list li.li_2 a .nr{background: url(../images/ho_skill_l2.png) center bottom no-repeat;}
.skillout .list li.li_2 a:hover .bot{border: 1px solid #ffa800;border-top: none;}

.skillout .list li.li_3 a:hover .icon,.skillout .list li.li_3 a .xl span{background:#0ebaeb;}
.skillout .list li.li_3 a h2,.skillout .list li.li_3 a p{color: #0ebaeb;}
.skillout .list li.li_3 a .nr{background: url(../images/ho_skill_l3.png) center bottom no-repeat;}
.skillout .list li.li_3 a:hover .bot{border: 1px solid #0ebaeb;border-top: none;}

.skillout .list li.li_4 a:hover .icon,.skillout .list li.li_4 a .xl span{background:#17c390;}
.skillout .list li.li_4 a h2,.skillout .list li.li_4 a p{color: #17c390;}
.skillout .list li.li_4 a .nr{background: url(../images/ho_skill_l4.png) center bottom no-repeat;}
.skillout .list li.li_4 a:hover .bot{border: 1px solid #17c390;border-top: none;}

.skillout .list li a:hover img{-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg); }
/*caseout*/
.caseout li{width: 25%;float: left;height: 100%;margin: 0;padding: 0;display: inline-block;}
.caseout li img,.caseout li a{width: 100%;display: inline-block;}
.caseout li a{position: relative;overflow: hidden;}
.caseout li a span{width: 100%;color:#fff;display: block;left:0;z-index: 99999;height:0;overflow: hidden;
  position: absolute;background: url(../images/case_bg.png);bottom:0;margin:auto;text-align: center;font-size: 20px;}
.caseout li a:hover span{height:60%;padding-top: 30%;}
.caseout li a span .link{opacity: 0;width: 40px;height: 40px;background: #fff;border-radius: 100%;margin-top: 5%}
.caseout li a:hover span .link{opacity: 1}
/*teamout*/
.teamout .txt{text-align: center;font-size: 16px;color: #666;line-height: 30px;}
.teamout .txt span{color: #f6503a;}

.slideRealBox{width:100%; height:680px; overflow:hidden; position:relative;}
.slideRealBox .hd{height:200px; width:100%;}
.slideRealBox .hd ul li.on img{ -ms-filter: grayscale(0);-moz-filter:grayscale(0);-webkit-filter:grayscale(0);-o-filter: grayscale(0);filter:grayscale(0);}
.slideRealBox .bd{position:relative;z-index:0;margin: 40px auto 0;width: 880px;height:510px;}
.slideRealBox .bd li{zoom:1;display: block;}
.slideRealBox .bd li{width: 890px;height:390px;display: block;background: #000;position: relative;color: #fff;text-align: left;}
.slideRealBox .bd li .pic{width: 290px;height: 390px;display: inline-block;border-right: 5px solid #69b83b;}
.slideRealBox .bd li .intxt{width: 470px;margin: 0 50px 0 0;}
.slideRealBox .bd li p{line-height: 28px;font-size: 16px;color: #fff;}
.slideRealBox .bd li h2{font-size: 22px;color: #fff;padding: 0 0 10px 0;}
.slideRealBox .bd li a{color: #fff;padding: 0 10px 0 0;display: inline-block;font-size: 16px;}
.slideRealBox .bd li .year{width: 110px;height:70px;background:#69b83b;display: inline-block;position: absolute;
  left: 240px;top:140px;text-align: center;font-size: 16px;padding: 40px 0 0;
  -ms-border-radius: 55px; -moz-border-radius: 55px; -webkit-border-radius: 55px;-o-border-radius: 55px; border-radius: 55px;}
/*--列表--*/
.picScroll-leftdiy{width:100%;position:relative;height: 150px;}
.picScroll-leftdiy .inhd{width: 100%;height: 80px;position: absolute;top:390px;}
.picScroll-leftdiy .inbd{width: 890px;height:200px;z-index: 9999;margin: 0 auto;overflow: hidden;}
.picScroll-leftdiy .inbd ul{overflow:hidden; zoom:1;width: 890px;height: 200px;}
.picScroll-leftdiy .inbd ul li{float:left; margin-right:30px;width:200px; height:200px;cursor:pointer;overflow: hidden;
  -ms-border-radius: 100px; -moz-border-radius: 100px; -webkit-border-radius: 100px;-o-border-radius: 100px; border-radius: 100px;}
.picScroll-leftdiy .inbd ul li img{width: 200px;height: auto;display:block;
  -ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);}
/*前后*/  
.picScroll-leftdiy .prev,.picScroll-leftdiy .next{ position:absolute;display:block;width:45px; height:80px;}
.picScroll-leftdiy .prev{background:url(../images/prevBtn_2.png) 0 0 no-repeat;left: 0;top:0;}
.picScroll-leftdiy .next{background:url(../images/nextBtn_2.png) 0 0 no-repeat;right: 0;top:0;}
.picScroll-leftdiy .prev:hover,.picScroll-leftdiy .next:hover{background-position: 0 -110px;}
.picScroll-leftdiy .prevStop{ display:none;  }
.picScroll-leftdiy .nextStop{ display:none;  }
/*processout*/
.processout{width: 100%;height: 460px;background: url(../images/process_bg.jpg) center no-repeat;}
.processout .ho_tit_all p,.processout .ho_tit_all h2,.processout .ho_tit_all  h3{color: #69b83b;}
.processout .ho_tit_all h3{background: url(../images/ho_tit_line2.jpg) center bottom no-repeat;}
.processout .list li{float: left;padding: 0 15px;width: 202px;display: inline-block;text-align: center;color: #fff;}
.processout .list li h2{font-size: 20px;line-height: 40px;margin: 10px 0 0;}
.processout .list li p{color: #666;color: #fff;}

/*动画*/
.imggocircle{-ms-animation:gocircle 1s linear infinite;-moz-animation:gocircle 1s linear infinite;-webkit-animation:gocircle 1s linear infinite;
  -o-animation:gocircle 1s linear infinite;animation:gocircle 1s linear infinite;}
@-webkit-keyframes gocircle{
  0%{-webkit-transform:rotate(0deg);}
  25%{-webkit-transform:rotate(90deg);}
  50%{-webkit-transform:rotate(180deg);}
  75%{-webkit-transform:rotate(270deg);}
  100%{-webkit-transform:rotate(360deg);}
}
@-moz-keyframes gocircle{
  0%{-moz-transform:rotate(0deg);}
  25%{-moz-transform:rotate(90deg);}
  50%{-moz-transform:rotate(180deg);}
  75%{-moz-transform:rotate(270deg);}
  100%{-moz-transform:rotate(360deg);}
}
@-o-keyframes gocircle{
  0%{-o-transform:rotate(0deg);}
  25%{-o-transform:rotate(90deg);}
  50%{-o-transform:rotate(180deg);}
  75%{-o-transform:rotate(270deg);}
  100%{-o-transform:rotate(360deg);}
}
@keyframes gocircle{
  0%{transform:rotate(0deg);}
  25%{transform:rotate(90deg);}
  50%{transform:rotate(180deg);}
  75%{transform:rotate(270deg);}
  100%{transform:rotate(360deg);}
}
/*clientout*/
.clientout .list{margin: 0 0 0 -40px;}
.clientout .list span{width: 200px;height: 100px;margin: 0 0 0 40px;display: inline-block;float: left;}
.clientout .list span img{width: 200px;height: 100px;display: block;-ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);}
.clientout .list span:hover img{-ms-filter: grayscale(0);-moz-filter:grayscale(10);-webkit-filter:grayscale(0);-o-filter: grayscale(0);filter:grayscale(0);}
/*contactout*/
.w960{width: 960px;height: auto;margin: 0 auto;}
.contactout{width: 100%;height: 180px;background: url(../images/contact_bg.jpg) center no-repeat;}
.contactout .map{width:480px;padding: 0 0 0 480px;background: url(../images/cont_bg_2.jpg) left center no-repeat;height: 180px;}
.iw_poi_title {color:#CC5522;font-size:14px;font-weight:bold;overflow:hidden;padding-right:13px;white-space:nowrap;}
.iw_poi_content {font:12px arial,sans-serif;overflow:visible;padding-top:4px;white-space:-moz-pre-wrap;word-wrap:break-word;}
/*footer*/
.footer{width: 100%;height: auto;background: #252525;} 
.footer .txt{background: url(../images/fot_cont.png) left center no-repeat;padding: 10px 0 0 250px;height: 170px;width: 700px;}
.footer .txt p{line-height: 30px;color: #fff;font-size: 18px;margin: 0 0 10px 0;}
.footer .txt p img{float: left;margin: 0 10px 0 0;width: 30px;height: 30px;}
.footer .txt p a{color: #fff;}
.footer .ewm{width: 160px;text-align: center;}
.footer .ewm img{width: 160px;height: 160px;display: inline-block;}
.footer .ewm p{color: #fff;font-size: 16px;line-height:30px;}
.footer .bot{border-top: 1px solid #515151;height: auto;width: 100%;position: relative;}
.fot_link_bg{width: 1170px;height: 9px;font-size: 0;position: absolute;left: 50%;top:-9px;background: url(../images/fot_link.png) center top no-repeat;margin: 0 0 0 -585px;}
.footer .bot .link{background: #363636;color: #fff;width: 1120px;height: auto;padding: 10px 20px 20px;}
.footer .bot .link span{line-height: 30px;display: inline-block;width: 80px;}
.footer .bot .link div{width: 1030px;}
.footer .bot .link a{color: #fff;padding: 0 10px 0 0;line-height: 30px;display: inline-block;}
.footer .bot .copy{line-height: 60px;color: #fff;color: #fff;text-align: center;}
/*右侧悬浮框*/
.float_onlie{position: fixed;top:160px;right:20px;width: 80px;height: auto;z-index: 99999999;}
.float_onlie a{display: block;width: 80px;height: 90px;margin: 0 0 1px 0;
    background: url(../images/cbar.png) no-repeat;
    -webkit-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
    -o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
.float_onlie a.on_1{background-position: 0 0;}
.float_onlie a.on_2{background-position: 0 -91px;position:relative;}
.float_onlie a.on_2 em{width: 210px;height: 90px;display: none;position: absolute;left: -210px;top:0;}
.float_onlie a.on_2 em img{width: 210px;height: 90px;}
.float_onlie a.on_3{background-position: 0 -182px;position:relative;}
.float_onlie a.on_3 em{width: 21px;height: 80px;display: none;position: absolute;left: -210px;top:0;}
.float_onlie a.on_3 em img{width:210px;height: 90px;}
.float_onlie a.on_4{background-position: 0 -273px;position:relative;}
.float_onlie a.on_4 em{width: 210px;height:250px;display: none;position: absolute;left: -210px;top:0px;}
.float_onlie a.on_4 em img{width:210px;height: 250px;}
.float_onlie a.on_5{background-position: 0 -364px;}
.float_onlie a:hover.on_1{background-position: -80px 0;}
.float_onlie a:hover.on_2{background-position: -80px -91px;}
.float_onlie a:hover.on_2 em{display: inline-block;}
.float_onlie a:hover.on_3{background-position: -80px -182px;}
.float_onlie a:hover.on_3 em{display: inline-block;}
.float_onlie a:hover.on_4{background-position: -80px -273px;}
.float_onlie a:hover.on_4 em{display: inline-block;}
.float_onlie a:hover.on_5{background-position: -80px -364px;}
/*  Styles for this example */
.parallax-image.skrollable-between {display:block;}
.no-skrollr .parallax-image-wrapper {display:none !important;}
.parallax-image-wrapper {position:fixed;left:0;width:100%;overflow:hidden;height:80vh;top:-80vh;}
.parallax-image {display:none;position:absolute;bottom:0;left:0;width:100%;background-repeat:no-repeat;background-position:center;background-size:cover;height:100vh;top:0;}
.parallax-image.skrollable-between {display:block;}
.no-skrollr .parallax-image-wrapper {display:none !important;}
.gap {background:transparent center no-repeat;background-size:cover; height:50vh;}
.skrollr .gap {background:transparent !important;}
/*内页*/
.bread{width: 100%;background:#fff;position:fixed;left: 0;top:85px;z-index: 999999;height: 120px;}
.bread .in_tit{text-align: center;padding:30px 0 0;}
.bread .in_tit h2{font-size: 24px;color: #666;font-weight: bold;color: #68b83b}
.bread .in_tit p{font-size: 34px;color: #999;text-transform: uppercase;color:  #68b83b;}
/*.bread .page_nav{height: 40px;text-align: center;}
.bread .page_nav a{background: #e5e5e5;margin: 0 0 0 10px;
    height: 40px;line-height: 40px;display: inline-block;width: 130px;
    text-align: center;font-size: 16px;}
.bread .page_nav a.on,.bread .page_nav a:hover{background:#069539;color: #fff;}*/
.wap_box{width: 100%;height: auto;background:#ffffff;}
.wap_box img{max-width:1160px;}
/*news*/
/**装修建议*/
.advice_in{width:1160px;position:relative;left:50%;margin-left:-580px;}
.brand-list{width:1160px;margin:0 auto;}
.brand-list .item{position:absolute;width:370px;background:url(../images/ad_bg.png) no-repeat center center;top:0;left:40%;
  -webkit-transition:all 0.3s;-moz-transition:all 0.3s;-o-transition:all 0.3s;-ms-transition:all 0.3s;transition:all 0.3s;}
.brand-list .additem{width:370px;border:none;}
.brand-list .item h3{font-size:30px;color:#666666;margin-bottom:20px;}
.brand-list .item p{margin-bottom:15px;}
.boxgrid{width:370px;height:220px;overflow:hidden;position:relative;}
.boxgridq{width:370px;height:480px;overflow:hidden;position:relative;}
.item .boxgrid h3{margin:10px 0px 10px 0px;text-align:center;font-size:18px;}
.item .boxgrid h3 a{color:#ffffff;}
.item .boxgrid h3 a:hover{text-decoration: underline;}
.boxgrid img{position:absolute;top:0;left:0;border:0;width: 370px;height: 220px;}
.boxgridq img{width:370px;height:480px;}
.boxgrid p{color:#afafaf;text-align:center;color:#ffffff;padding: 0 10px;} 
.boxcaption{float:left;position:absolute;background:url(../images/28.png);height:200px;width:100%;}
.boxcaptiona{float:left;position:absolute;background:url(../images/28.png);height:200px;width:100%;}
.caption .boxcaption{top:175px;left:0px;}
.captiona .boxcaptiona{top:437px;left:0px;}
.brand-list a:hover img{-webkit-filter:grayscale(1);-moz-filter:grayscale(1);-ms-filter: grayscale(1);filter:grayscale(1);}
/*案例*/
.page_nav{height: 40px;text-align: center;width: 100%;line-height: 40px;padding: 0;}
.page_nav a{background: #e5e5e5;margin: 0 0 0 10px;
    height: 40px;line-height: 40px;display: inline-block;width: 130px;
    text-align: center;font-size: 16px;}
.page_nav a.on,.page_nav a:hover{background:#69b83b;color: #fff;}
/*page*/
.pageJump {text-align: left;padding:50px 0 0;line-height:30px;width: 100%;overflow: hidden;}
.pageJump .number {margin: auto auto auto 42%;width: auto;display: block;float: none;height: auto;}
.pageJump .number .disabled {background: #e5e5e5;color: #333;padding:5px 10px;}
.pageJump .number .disabled a{color: #333;}
.pageJump .number .disabled:hover{background:#69b83b; }
.pageJump .number .disabled:hover a{color: #ffffff;}
/*案例内页*/
.casein{width: 100%;height: auto;background: #fff url(../images/pro_bg.png) center top no-repeat;}
.casein .case_tit{text-align: center;color: #fff;padding: 70px 0 0;height: 200px;width: 860px;margin: 0 auto;}
.casein .case_tit h2{font-size: 30px;padding: 0 0 20px;}
.casein .case_tit p{color: #fff;font-size: 16px;}
.casein .lit_img{background: url(../images/dian.png) no-repeat;width: 795px;height: 720px;margin: 0 auto;padding: 27px 31px 0 34px;}
.casein .lit_img span{width: 795px;height: 460px;overflow: hidden;display: inline-block;}
.casein .lit_img span img{width: 100%;height: auto;}
.casein .big_img{width: 100%;background:url(../images/caseimg_bg.jpg) center top repeat-y;padding: 0 0 80px;}
.casein .big_img h2{font-size: 34px;text-align: center;color: #333;line-height: 120px;background: url(../images/ho_tit_line.png) center bottom no-repeat;margin: 0 0 30px;}
.casein .big_img img{width: 1160px;height: auto;margin: 0 auto;display: block;}
.casein .case_bot{text-align: center;width: 562px;margin: 50px auto 0;}
.casein .case_bot a{ width:240px; height:56px; border:2px #69b83b solid;color: #69b83b; 
 font-size:18px; text-align:center; line-height:56px; display:block; float:left; margin-left:20px;}
.casein .case_bot a:hover{background:#69b83b;color: #fff;}
/*新闻详细页*/
.news_dis{background: #fff;}
.news_dis .top{background:#fff;padding: 50px 30px 40px;border-bottom: 5px dotted #f3f3f3;}
.news_dis .tit{font-size: 24px;text-align: center;padding:0 0 30px;}
.news_dis .protime{text-align:center;height: 60px;line-height: 60px;}
.news_dis .protime span i{color: #999;}
.news_dis .protime span em{color: #f44c64;}
.news_dis .p_style{padding: 50px 0 60px;}
/*返回*/
.backpre {text-align:right;margin:30px 0 0;}
.backpre a{height:24px;background: #e5e5e5;line-height:24px;
    padding:5px 10px;color: #333;
    display: inline-block;text-align: center;}
.backpre a:hover{background: #69b83b;color: #fff;}
/*tech_nrbox*/
.tech_nrbox .dl_1{text-align: center;background:  #69b83b;padding: 30px 0 50px;}
.tech_nrbox .dl_1 h2{font-size: 34px;padding: 0 0 20px;color: #fff;}
.tech_nrbox .dl_1 p{width: 1160px;margin: 0 auto;font-size: 14px;color: #fff;font-size: 16px;}
.tech_nrbox .dl_2{margin: 0 0 0 -20px;}
.tech_nrbox .dl_2 li{width: 273px;border: 1px solid #69b83b;height: 600px;float: left;margin: 0 0 20px 20px;}
.tech_nrbox .dl_2 li h2{height: 98px;border-bottom: 1px solid  #69b83b;line-height: 98px;color: #fff;text-align: center;font-size: 28px;background:#69b83b; }
.tech_nrbox .dl_2 li .bot{padding: 0 19px;width: 235px;}
.tech_nrbox .dl_2 li .bot h3{border-bottom: 1px solid #69b83b;color: #69b83b;font-size: 38px;line-height: 100px;text-align: center; }
.tech_nrbox .dl_2 li .bot h3 span{font-size: 24px;}
.tech_nrbox .dl_2 li .bot .txt{margin:20px 0 0;height: 350px;}
/*contact_list*/
.contact_list{margin: 0 0 0 -20px;}
.contact_list li{padding: 20px 20px;height: 100px;border: 1px solid #69b83b;width: 528px;float: left;margin: 0 0 20px 20px;}
.contact_list li.big{width: 1118px;}
.contact_list li .txt{margin-top: 25px;width: 140px;text-align: center;}
.contact_list li .txt .cn,.contact_list li .txt .en{display: block;}
.contact_list li .txt .cn{font-size: 26px;}
.contact_list li .txt .en{font-size: 12px;text-transform: uppercase;}
.contact_list li p{overflow: hidden;height: 100px;margin-left:40px;float: left;font-size: 18px;line-height: 100px;}
.contact_list li .icon{width: 100px;height: 100px;}
/*news*/
.news_inbg{width: 100%;background: url(../images/news_bg.png) center top no-repeat;}
/*about*/
.abt_company{width: 100%;height: auto;background: url(../images/about_09.jpg) center bottom no-repeat;margin: 0 0 60px;}
.abt_company .box{padding: 0 0 330px 340px;width:820px;text-align: center; min-height: 160px;}
.abt_company .box h2{font-size: 32px;margin: 0 0 20px 0;}

.abt_culture{width: 100%;background: #f3f3f3;padding: 30px 0;}
.abt_team{padding: 50px 0;}
.abt_team .tit{font-size: 32px;margin: 0 0 40px 0;text-align: center;background:#69b83b;color: #fff;height: 60px;line-height: 60px; }
.abt_partner{background: #f3f3f3;padding: 0 0 60px;}


.header .btn_4 .tc{display: inline-block;height: 30px;position: relative;width: 130px;}
.header .btn_4 .tc:hover img{filter:alpha(opacity=80);-ms-opacity:0.8;-moz-opacity:0.68-webkit-opacity:0.8;-o-opacity:0.8;opacity: 0.8;}
#gray{width:100%;height:100%;background:rgba(0,0,0,0.3);position:fixed;top:0px;display:none;z-index:99;left: 0;}
.popup{width:532px; height:auto;background-color:#fff;position:absolute;z-index:100;
  border:1px solid #ebeaea;left:400px;top:96px;display:none;}
.popup .top_nav{width:532px;height:46px;border-bottom:1px solid #ebeaea;font-weight: bold;color: #69b83b; 
  position:relative;cursor:move;text-align: center;line-height: 46px;font-size: 18px;}
.popup .top_nav a.guanbi { background:url(../images/popup_guanbi.png) repeat 0px 0px; width:35px; height: 35px; display: block; position:absolute;top:8px;right:10px;cursor:pointer;}
.popup .top_nav a.guanbi span { display: none;}
.popup .top_nav a.guanbi:hover { background: url(../images/popup_guanbi.png) repeat 0px -35px; }

.popup .min{width:512px;height:auto;padding:30px 20px;}
.tc_login{width:370px;margin: 0 auto;}
.tc_login p{height: 42px;line-height: 42px;width: 100%;margin:10px 0px 0px 0px;}
.tc_login p span{width: 90px;float: left;display: inline-block;text-align: left;height: 42px;line-height: 42px;}
.tc_login .p1 input,.tc_login .p1 select{border: 1px solid #ccc;color: #000;
    border-radius: 2px;float: left;font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;font-size: 1em;padding:0 0 0 10px;transition: background 0.3s ease-in-out;}
.tc_login input{height: 40px;width: 260px;}
.tc_login select{height: 40px;width: 130px;}
.tc_login   input:focus,.tc_login   select:focus{
    outline: none;
    border-color: #019A0D;
    box-shadow: 0 0 0px #019A0D;}
.tc_login .btnch{padding: 30px 0;height: auto;width: 100%;text-align: center;}
.tc_login   .button{
    background:#36a803;
    border: none;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
    transition: background 0.3s ease-in-out;
    width: 255px;
  width: 360px;
  }
.tc_login   .button:hover {

    background: #019A0D;
}
  .mR20{margin: 0 20px 0 0;}
/*
    字体正文颜色   color: #666666;
    字体标题颜色   color: #333333;
    色系hover      color: #69b83b; 
    背景           background:#f3f3f3;
    边框           border: 1px solid #d6d6d6;
    字体           font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;
    
    
    空格  span style='white-space:pre;
    背景  background:transparent;   透明
          background: url(../images/phone.png) left center no-repeat;
          background: radial-gradient(white, #EEF6F9);   渐变
          background-attachment: fixed;    背景固定
          background-clip:content-box;     背景裁剪  border-box 背景被裁剪到边框盒。 padding-box 背景被裁剪到内边距框。 content-box 背景被裁剪到内容框。
          background-size:80px 60px;       背景大小  length值    percentage百分比    cover完全覆盖    contain完全适应
    边框  border: medium double rgb(250,0,255) 
          borde-with: thin细的边框。 medium  默认;中等的边框。thick粗的边框。length宽度。inherit规定应该从父元素继承边框宽度。
          border-style: dotted点状边框。   dashed虚线。solid 实线。  double 双线。               groove  3D凹槽边框。
                        ridge 3D垄状边框。 inset 3Dinset边框。       outset 3Doutset边框。
    边框图片  border:15px solid transparent;border-image:url(/i/border.png) 30 30 round;
              border-image-source 图片路径。  border-image-slice  图片边框向内偏移。 border-image-width  图片边框的宽度。     
              border-image-outset 边框图像区域超出边框的量。                         border-image-repeat 图像边框是否应平铺(repeated)、铺满(rounded)或拉伸(stretched)。
    轮廓线outline:#00ff00 dotted thick;
    大写  text-transform: uppercase;
    行内  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;
    圆角  -ms-border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;-o-border-radius: 15px; border-radius: 15px;
    阴影  box-shadow:4px 2px 6px 6px #333333 inset;
          h-shadow  必需。水平阴影的位置。允许负值。  v-shadow  必需。垂直阴影的位置。允许负值。  
          blur  可选。模糊距离。                      spread  可选。阴影的尺寸。 
          color 可选。阴影的颜色。                    inset 可选。将外部阴影 (outset) 改为内部阴影。
    文本  text-shadow: X-Offset Y-Offset blur color;
    .mask{background: #000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5;display: block;}
    .elip{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;}
    hd为空 {font-size:0;display:none;overflow:hidden;height:0;}
    分列  columns:100px 3;
*/

/*
H5基本样式
缩放  -ms-transform:scale(1.2);-moz-transform:scale(1.2);-webkit-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);  
      scale(x,y)  定义 2D 缩放转换。                    scale3d(x,y,z)  定义 3D 缩放转换。 
      scaleX(x)   通过设置 X 轴的值来定义缩放转换。     scaleY(y) 通过设置 Y 轴的值来定义缩放转换。 
      scaleZ(z)   通过设置 Z 轴的值来定义 3D 缩放转换。
旋转  -ms-transform:rotate(20deg);-moz-transform:rotate(20deg);-webkit-transform:rotate(20deg);-o-transform:rotate(20deg);transform:rotate(20deg); 
      rotate(angle)   定义 2D 旋转，在参数中规定角度。  rotate3d(x,y,z,angle) 定义 3D 旋转。 
      rotateX(angle)  定义沿着 X 轴的 3D 旋转。         rotateY(angle)  定义沿着 Y 轴的 3D 旋转。  
      rotateZ(angle)  定义沿着 Z 轴的 3D 旋转。
位移  -ms-transform:translateX(45px);-moz-transform:translateX(45px);-webkit-transform:translateX(45px);-o-transform:translateX(45px);transform:translateX(45px);    
      translate(x,y)  定义 2D 转换。                    translate3d(x,y,z)  定义 3D 转换。 
      translateX(x)   定义转换，只是用 X 轴的值。       translateY(y) 定义转换，只是用 Y 轴的值。 
      translateZ(z)   定义 3D 转换，只是用 Z 轴的值。
倾斜  -ms-transform:skew(160deg,160deg);-moz-transform:skew(160deg,160deg);-webkit-transform:skew(160deg,160deg);-o-transform:skew(160deg,160deg);transform:skew(160deg,160deg);     
      skewX(angle)  定义沿着 X 轴的 2D 倾斜转换。       skewY(angle)  定义沿着 Y 轴的 2D 倾斜转换。
      skew(x-angle,y-angle) 定义沿着 X 和 Y 轴的 2D 倾斜转换。
过渡  -ms-transition: all 320ms ease-out 0s-moz-transition: all 320ms ease-out 0s;-webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;
灰度  -ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);
透明  filter:alpha(opacity=60);-ms-opacity:0.6;-moz-opacity:0.6;-webkit-opacity:0.6;-o-opacity:0.6;opacity: 0.6;
为 3D 转换元素定义透视视图。 perspective(n)
*/

/*
时间差先后顺序     
data-300-center-top="transform: scale(0.8); opacity: 0" data-300-center-center="transform: scale(1); opacity: 1"    变大小
data-100-bottom-center="transform: rotateY(-90deg); opacity: 0" data-100-center-center="transform: rotate(0); opacity: 1" 旋转
data-100-bottom-top="transform: translateX(-200px); opacity: 0" data-center-top="transform: translateX(0px); opacity: 1"  左右-收拢效果
tdata-100-bottom-top="transform: translateY(200px); opacity: 0" data-center-top="transform: translateY(0px); opacity: 1"  上下-收拢效果
data-bottom-top="max-width: 200px;" data-bottom-bottom="max-width: 600px;"  变长短
300》200》100

data-wow-delay="0.5s"
*/

/*
animation 动画示例
.balloon > div:nth-child(1) {background: rgba(182, 15, 97, 0.9);left: 0;box-shadow: inset 10px 10px 10px rgba(135, 11, 72, 0.9);
  -moz-animation: balloon1 6s ease-in-out infinite;-o-animation: balloon1 6s ease-in-out infinite;}
@-webkit-keyframes balloon1 {
  0%,100% {-webkit-transform: translateY(0) rotate(-6deg);}
  50% {-webkit-transform: translateY(-20px) rotate(8deg);}}
@-moz-keyframes balloon1 {
  0%,100% {-moz-transform: translateY(0) rotate(-6deg);}
  50% {-moz-transform: translateY(-20px) rotate(8deg);}}
@-o-keyframes balloon1 {
  0%,100% {-o-transform: translateY(0) rotate(-6deg);}
  50% {-o-transform: translateY(-20px) rotate(8deg);}}
@keyframes balloon1 {
  0%,100% {transform: translateY(0) rotate(-6deg);}
  50% {transform: translateY(-20px) rotate(8deg);}}
*/


/*
<div class="parallax-image-wrapper" data-anchor-target="#page-intro" data-bottom-top="transform:translateY(200%)" data-top-bottom="transform:translateY(0)">
    <div class="parallax-image" style="background-image:url(assets/images/coast.jpg)" data-anchor-target="#page-intro" 
         data-bottom-top="transform: translateY(-80%);" data-top-bottom="transform: translateY(80%);">
    </div>
</div>
<div id="skrollr-body">
    <div id="page-intro" class="gap" style="background-image:url(assets/images/coast.jpg); ">
        <h1>使用6种不同视觉差特效的HTML5页面设计效果</h1>
    </div>
    <div class="dummy-content">
        <h2>Scroll to see the effect!</h2>
    </div>
</div>


 */