@charset "utf-8";
/* CSS Document */ 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;} 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td,ul,li,a,html,input,span,dl,dt,dd,em,i,{font-family:Arial,"微软雅黑",Verdana,Helvetica, sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;} 
ul,li{list-style:none; margin:0; padding:0;}
a img{border:0;display: block;}
html, body {height: auto; }
em,i{font-style: normal;}
a:hover *,*:hover{-webkit-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
  -o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
a:hover{text-decoration: none;}
/*颜色字体设置-start-*/
a{color: #333;text-decoration:none;}
a:hover{color:#b49358;}
p{color: #333;line-height:24px;}
body{background:#fff;overflow-x:hidden;font-size:16px;font-family: Arial,"微软雅黑",Verdana,Helvetica, sans-serif;}
/*颜色字体设置-end-*/
/******base*******/ 
.bk10,.bk20,.bk30,.bk40,.bk50,.bk60,.bk70,.bk80,.bk90,.bk100{width:100%;overflow: hidden;clear: both;display: block;}
.bk10{height:10px;}
.bk20{height:20px;}
.bk30{height:30px;}
.bk40{height:40px;}
.bk50{height:50px;}
.bk60{height:60px;}
.bk70{height:70px;}
.bk80{height:80px;}
.bk90{height:90px;}
.bk100{height:100px;}

.mL10 {margin-left: 10px;}
.mR10 {margin-right: 10px;}
.mT10{margin-top: 10px; }
.mB10{margin-bottom: 10px;}
.m10{margin: 10px;}
.pT10{padding-top: 10px; }
.pB10{padding-bottom: 10px; }
.pL10{padding-left:10px;}
.pR10{padding-right:10px;}
.p10{ padding: 10px;}
/******other*******/ 
.fl{float:left;display: inline-block;}
.fr{float:right;display: inline-block;}
/******clear float*******/ 
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; } 
.clearfix {display: inline-table;} 
/* Hides from IE-mac \*/ 
* html .clearfix {height: 1%;} 
.clearfix {display: block;} 
/*通用*/
.w1160{width: 1160px;margin: 0 auto;height: auto;}
/*header*/
.header{width: 100%;height: 170px;display: block;}
.header .logo{width:480px;height: 120px;margin: 0 auto;display: block;padding: 5px;position: relative;}
.header .logo img{width: 100%;}
.header .logo i{cursor:pointer;position:absolute;left:-180px;top:30px;width:80px;height:60px;
  background-image:linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.7),rgba(255,255,255,0));
  background-image:-moz-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.7),rgba(255,255,255,0));
  background-image:-webkit-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.7),rgba(255,255,255,0));
  background-image:-o-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.7),rgba(255,255,255,0));
  background-image:-ms-linear-gradient(0deg,rgba(255,255,255,0),rgba(255,255,255,0.7),rgba(255,255,255,0));
  transform:skewx(-25deg);-o-transform:skewx(-25deg);-moz-transform:skewx(-25deg);
  -webkit-transform:skewx(-25deg);-ms-transform:skewx(-25deg);
  animation:light_move 5s 1s infinite linear;-webkit-animation:light_move 5s 1s infinite linear;
  -moz-animation:light_move 5s 1s infinite linear;-o-animation:light_move 5s 1s infinite linear;
  -ms-animation:light_move 5s 1s infinite linear;}
/*动画 light_move*/
/*动画 light_move*/
@keyframes light_move{
  0%{left:-240px;}
  30%{left:480px}
  75%{left:50px;}
  100%{left:480px;}
}
@-moz-keyframes light_move{
  0%{left:-240px;}
  30%{left:480px}
  75%{left:50px;}
  100%{left:480px;}
}
@-webkit-keyframes light_move{
  0%{left:-240px;}
  30%{left:480px}
  75%{left:50px;}
  100%{left:480px;}
}
@-o-keyframes light_move{
  0%{left:-240px;}
  30%{left:480px}
  75%{left:50px;}
  100%{left:480px;}
}
@-ms-keyframes light_move{
  0%{left:-240px;}
  30%{left:480px}
  75%{left:50px;}
  100%{left:480px;}
}
.nav-box{width: 100%;height: 50px;background: #b49358;}
/*nav*/
.nav{height:50px;position:relative;z-index:1;margin: 0 0 0 2px;}
.nav a{ color:#fff; text-align:center;}
.nav .nLi{ float:left;  position:relative; display:inline;}
.nav .nLi h3{ float:left;}
.nav .nLi h3 a{ display:block;font-size:16px;width: 165px;display: block;height: 50px;text-align: center;padding: 10px 0 0;}
.nav .nLi h3 a span{display: block;text-transform: uppercase;font-size: 14px;}
.nav .sub{ display:none; width:165px; left:0; top:50px;  position:absolute; background:#f4f4f4; line-height:40px;  }
.nav .sub li{ zoom:1; }
.nav .sub a{ display:block;color: #333;}
.nav .sub a:hover{ background:#b49358;color:#fff;}
.nav .on h3 a,.nav h3 a:hover{ background:#9c7e4c; color:#fff;}
/*banner*/
.slideBox{ width:100%; height:500px; overflow:hidden; position:relative;}
.slideBox .hd{font-size:0;display:none;overflow:hidden;height:0;}
.slideBox .bd{ position:relative; height:100%; z-index:0;   }
.slideBox .bd li{ zoom:1; vertical-align:middle; }
.slideBox .bd li a{display: block;width: 100%;height:500px;}
.slideBox .prev,.slideBox .next{ position:absolute;top:50%; margin-top:-43px; display:block; width:86px; height:86px;
  filter:alpha(opacity=60);-ms-opacity:0.6;-moz-opacity:0.6;-webkit-opacity:0.6;-o-opacity:0.6;opacity: 0.6;}
.slideBox .prev{left:10%;background: url(../images/bn_pre.png) no-repeat; }
.slideBox .next{right:10%;background: url(../images/bn_next.png) no-repeat; }
.slideBox .prev:hover,.slideBox .next:hover{filter:alpha(opacity=100);-ms-opacity:1;-moz-opacity:1-webkit-opacity:1-o-opacity:1;opacity: 1;}
.slideBox .prevStop{ display:none;}
.slideBox .nextStop{ display:none;}
/*quoted*/
.fixed-bot{position: fixed;left: 0;bottom: 0;z-index: 999999999999;}
.quoted{width: 100%;height: 120px;background: #000;padding: 15px 0;}
.quoted .txt-1{width: 350px;text-align: center;padding:20px 0 0;}
.quoted .txt-1 h2{font-weight: bold;color:#b49358;font-size: 30px; }
.quoted .txt-1 p{font-size: 24px;color:#b49358;}
.quoted .form-1{width: 570px;}
.w200{width: 200px;}

.quo-form-1 label{width: 200px;height: 40px;display: block;overflow: hidden;margin: 0;}
.quo-form-1 label:first-child{margin: 0 0 10px;}
.quo-form-1 input.btn_1{width: 200px;height: 40px;background: #fff;border: none;line-height: 40px;text-indent: 10px;}
.quo-form-1 input.btn_2{width: 150px;height: 90px;background:#b49358;line-height: 90px;color: #fff;border:none;font-weight: bold;font-size: 26px; }
.quo-form-1 input.btn_2:hover{background: #9c7e4c;}
.quoted .txt-2{margin: 15px 0 0;}
.quoted .txt-2 h2,.quoted .txt-2 p{color: #fff;font-weight: bold;text-align:right;}
.quoted .txt-2 h2{font-size:24px;margin: 0 0 10px;}
.quoted .txt-2 p{font-size: 34px;}
/*ho-list*/
.ho-list{margin: 0 0 0 -20px;}
.ho-list li{width: 275px;height: 140px;background: #b49358;text-align: center;float: left;margin: 0 0 20px 20px;padding: 30px 0 0;display: block;}
.ho-list li h2{font-size: 28px;font-weight: bold;color: #fff;margin: 0 0 10px;}
.ho-list li p{font-size: 16px;color: #fff;}
.ho-list li:hover{background: #9c7e4c;}
/*ho-tit-all*/
.ho-tit-all{text-align:center;}
.ho-tit-all a{display: inline-block;}
.ho-tit-all a .p1{font-size: 28px;font-weight: bold;color: #b4935d;display: block;}
.ho-tit-all a .p2{width: 660px;height: auto;background: url(../images/ho_line.png) center repeat-x;margin: 0 auto;display: block;color: #ceb993;}
.ho-tit-all a .p2 i{display: inline-block;background: #fff;font-size: 38px;text-transform: uppercase;padding: 0 10px;}
.caseout .ho-tit-all  a .p2 i{background: #f1ebd7;}
/*prod-list*/
.prod-list{margin: 0 0 0 -25px;}
.prod-list li,.prod-list li a{display: block;width: 370px;height: 270px;}
.prod-list li{float: left;margin: 0 0 25px 25px;}
.prod-list li a{position: relative;overflow: hidden;}
.prod-list li a .pic{display: block;width: 370px;height: 270px;}
.prod-list li a .pic img{width: 100%;height: auto;min-height: 270px;}
.prod-list li a .txt,.prod-list li a .mask{width: 100%;height: 100%;position: absolute;left: 0;bottom: 0;z-index: 999;display: block;
  transform: scale(0);-moz-transform: scale(0);-webkit-transform: scale(0);-o-transform: scale(0);-ms-transform: scale(0);}
.prod-list li a .mask{z-index: 99;background: #000;filter:alpha(opacity=80);-moz-opacity:0.8;opacity: 0.8;}
.prod-list li a .txt{text-align: center;padding: 70px 0 0;}
.prod-list li a .txt h2{color: #fff;font-size: 28px;font-weight: bold;border-bottom: 1px solid #fff;width: 80%;margin: 0 auto;padding: 0 0 10px;
  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;}
.prod-list li a .txt .p1{color: #fff;font-size: 18px;line-height:40px;}
.prod-list li a .txt .p2{width: 50px;height: 50px;background: url(../images/more.png) no-repeat;margin: 0 auto;display: block;}
.prod-list li:hover a .txt,.prod-list li:hover a .mask{-ms-transition: all 320ms ease-out 0s-moz-transition: all 320ms ease-out 0s;
  -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;
  transform: scale(1);-moz-transform: scale(1);-webkit-transform: scale(1);-o-transform: scale(10);-ms-transform: scale(1);}
/*caseout*/
.caseout{width: 100%;height: auto;background: #f1ebd7 url(../images/case_bg.png) center top no-repeat;}
.picScroll-left{ width:100%; overflow:hidden; position:relative; }
.picScroll-left .hd{ height:10px;width: 100%;text-align: center;margin:40px 0;   }
.picScroll-left .hd ul{overflow:hidden; zoom:1;}
.picScroll-left .hd ul li{ width:45px; height:10px; overflow:hidden; margin:0 15px; text-indent:-999px; cursor:pointer;background:#b49358; display: inline-block;font-size: 0;}
.picScroll-left .hd ul li.on{background: #fff;}

.prolist li,.prolist li a{width: 370px;height: 330px;display: inline-block;}
.prolist li{float: left;margin: 0 25px 0 0;}
.prolist li a .pic{width: 370px;height: 270px;display: block;position: relative;overflow: hidden;}
.prolist li a .pic img{width: 100%;height: auto;min-height: 270px;}
.prolist li a .pic .plus{width: 50px;height: 50px;display: inline-block;background: url(../images/more_p.png) no-repeat;position: absolute;right: 0;top:0;}
.prolist li a .txt{width: 100%;height: 60px;line-height: 60px;background: #b49358;padding: 0 10px;color: #fff;text-align: center;font-size: 20px;
  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;}
.prolist li a:hover .txt{background:#9c7e4c; }
.pro-insty{margin: 0 0 0 -25px;}
.pro-insty li{margin: 0 0 25px 25px;}
/*newsout*/
.newsout{margin: 0 0 0 -1px;}
.newsout li,.newsout li a{width: 386px;height: 480px;display: inline-block;}
.newsout li{float: left;margin: 0 0 0 1px;}
.newsout li a .pic{width: 386px;height: 240px;overflow: hidden;display: block;}
.newsout li a .pic img{width: 100%;height: auto;min-height: 240px;}
.newsout li a .txt{width: 100%;height: 240px;background: #f5f5f5;padding: 20px 30px 0;}
.newsout li a .txt h2{line-height:40px;font-size: 18px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;width: 100%;color: #333;}
.newsout li a .txt .p1{color: #666;font-size: 14px;line-height: 24px;height: 130px;overflow: hidden;}
.newsout li a .txt .p2{width: 40px;height: 2px;font-size: 0;line-height: 0;width: 40px;background: #ccc;}
.newsout li a .txt .p3{color: #666;line-height: 30px;}
.newsout li:hover a .txt{background:#f1ebd7; }
.newsout li:hover a  .pic img{-ms-transition: all 320ms ease-out 0s-moz-transition: all 320ms ease-out 0s;-webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;
transition: all 320ms ease-out 0s;transform: scale(1.5);-moz-transform: scale(1.5);-webkit-transform: scale(1.5);-o-transform: scale(1.5);-ms-transform: scale(1.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); background-position:center;}
/*footer*/
.footer{width: 100%;height: auto;background:#e6d9bd url(../images/fot_topbg.jpg) repeat-x;overflow: hidden;}
.footer .top{background: #b49358 url(../images/ho_fot_line.png) center no-repeat;height: 110px;width: 100%;padding: 15px 0 0;}
.footer .top li{width:290px;text-align: center;float: left;}
.footer .top li p{color: #fff;line-height: 20px;font-size: 16px;}
.footer .top li p.one{line-height: 40px;}
.footer .bot{width: 100%;height: auto;}
.footer .bot .ewm{width: 430px;height: 180px;background: url(../images/ewm_bg.jpg) no-repeat;padding: 10px;display: inline-block;}
.footer .bot .ewm img{height: 160px;width: 160px;display: block;}
.footer .bot .txt{margin: 0 0 0 30px;padding:10px 0;}
.footer .bot .txt li{line-height:40px;color: #8d5d07;}
.footer .rights{width: 100%;height: 50px;line-height: 50px;background: #b49358;color: #fff;text-align: center;}
.footer .rights a{color: #fff;}
.footer .link{width: 100%;height: auto;background: #f0e8d7;margin: 0 0 20px;padding: 20px 20px 10px;}
.footer .link .tit{width: 80px;display: inline-block;line-height: 30px;}
.footer .link .list{width: 1040px;}
.footer .link .list li{float: left;display: inline-block;margin: 0 10px 10px 0;line-height: 30px;}
.footer .link .list li a:hover{text-decoration:underline;}
/*右侧悬浮框*/
.float_onlie{position: fixed;top:10%;right:20px;width: 80px;height: auto;z-index: 99999999;}
.float_onlie a{display: block;width: 80px;height: 90px;margin: 0 0 10px 0;
    background: url(../images/cbar.png) no-repeat;
    -webkit-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
    -o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
.float_onlie a.on_1{background-position: 0 0;}
.float_onlie a.on_2{background-position: 0 -100px;position:relative;}
.float_onlie a.on_2 em,.float_onlie a.on_3 em{background: #9c7e4c;color:#fff;width: 220px;height: 90px;font-size: 16px;padding:20px;text-align: center;line-height: 25px;}
.float_onlie a.on_2 em{display: none;position: absolute;left: -220px;top:0;}
.float_onlie a.on_3{background-position: 0 -200px;position:relative;}
.float_onlie a.on_3 em{display: none;position: absolute;left: -220px;top:0;}
.float_onlie a.on_4{background-position: 0 -300px;position:relative;}
.float_onlie a.on_4 em{width: 180px;height: 180px;display: none;position: absolute;left: -180px;top:0px;}
.float_onlie a.on_4 em img{width:180px;height: 180px;}
.float_onlie a.on_5{background-position: 0 -400px;}
.float_onlie a:hover.on_1{background-position: -80px 0;}
.float_onlie a:hover.on_2{background-position: -80px -100px;}
.float_onlie a:hover.on_2 em{display: inline-block;}
.float_onlie a:hover.on_3{background-position: -80px -200px;}
.float_onlie a:hover.on_3 em{display: inline-block;}
.float_onlie a:hover.on_4{background-position: -80px -300px;}
.float_onlie a:hover.on_4 em{display: inline-block;}
.float_onlie a:hover.on_5{background-position: -80px -400px;}
/*page*/
.pageJump {text-align: left;padding:20px 0 30px;line-height: 20px;width: 100%;overflow: hidden;}
.pageJump .number {margin: auto auto auto 40%;width: auto;display: block;float: none;height: auto;}
.pageJump .number .disabled {background: #323031;padding:5px 10px;}
.pageJump .number .disabled a{color: #fff;}
.pageJump .number .disabled:hover{background:#f39600; }
/*返回*/
.backpre {text-align:center;margin:30px 0 0;}
.backpre a{height:44px;background: #323031;line-height:24px;
    padding:10px 20px;color: #fff;
    display: inline-block;text-align: center;}
.backpre a:hover{background:#b49358;color:#fff;}
/*内页*/
.bread{width: 100%;height: 170px;background:url(../images/page_bg.png) center top no-repeat;}
.in_tit_all{text-align: center;padding:40px 0 0;}
.in_tit_all p{color: #fff;text-transform: uppercase;font-size: 32px;padding: 0 0 10px;}
.in_tit_all h2{padding: 0 0 20px;} 
.in_tit_all h2 span{width: 40px;height: 40px;text-align: center;line-height:40px;background:#fff;color: #9c7e4c;display: inline-block;margin: 0 10px; font-size: 22px;
 -ms-border-radius: 50%; -moz-border-radius: 50%; -webkit-border-radius: 50%;-o-border-radius: 50%; border-radius: 50%;}
/*sublist*/
.sublist{text-align: center;}
.sublist li{display: inline-block;}
.sublist li a{width: 160px;height: 50px;line-height: 50px;text-align: center;background:#ccc;color: #333;
  margin: 30px auto 50px;display: block;}
.sublist li a:hover,.sublist li a.on{background:#b49358;color: #fff;}
/*内页基本style*/
.wap_box img{max-width: 1160px;}
/*荣誉资质*/
.mod18{width:920px;height:720px;position:relative;margin: 0 auto;}
.mod18 .btns{position:absolute;width:30px;height:130px;bottom:0;cursor:pointer;z-index:99;}
.mod18 .prev{left:0;background:url(../images/prevBtn.png) no-repeat;}
.mod18 .next{right:0;background:url(../images/nextBtn.png) no-repeat;}
.mod18 #prevTop,.mod18 #nextTop{top:215px;width:38px;height:70px;}
.mod18 #prevTop{background:url(../images/btn_l.png) -38px 0 no-repeat;left: 10px;}
.mod18 #nextTop{background:url(../images/btn_r.png) 0 0 no-repeat;right: 10px;}
.mod18 #nextTop:hover{background-position:-38px 0;}
.mod18 #prevTop:hover{background-position:0 0;}
.mod18 .prev:hover,.mod18 .next:hover{background-position:-30px 0;}
.mod18 .prev:hover,.mod18 .next:hover,.mod18 #prevTop:hover,.mod18 #nextTop:hover{-webkit-transition: all 0.3s linear 0s;-moz-transition: all 0.3s linear 0s;
      -o-transition: all 0.3s linear 0s;transition: all 0.3s linear 0s;}
  /*通用*/
.mod18 li{float:left;}
.mod18 .cf li{position:relative;}
.mod18 .cf li img{width: auto;height: 500px;display: block;margin: 0 auto;}
  /*大图*/
.mod18 .picBox{height:560px;position:relative;overflow:hidden;width: 840px;margin: 0 auto;}
.mod18 .picBox ul{height:560px;position:absolute;}
.mod18 .picBox li{width:840px;height:560px;overflow: hidden;}
.mod18 .picBox li p{line-height:60px;text-align: center;font-size: 20px;color: #333;}
.mod18 .picBox li img{max-width:840px;margin: 0 auto;}
  /*列表*/
.mod18 .listBox{width:840px;height:130px;margin:30px auto 0;
  position:relative;overflow:hidden;*padding: 0 0 30px !important;}
.mod18 .listBox ul{height:130px;position:absolute;}
.mod18 .listBox li{width:210px;height:140px;cursor:pointer;position:relative;float: left;padding: 0 5px;}
.mod18 .listBox li img{width:190px;height:130px;border: 5px solid #323031;}
.mod18 .listBox .on img{border: 5px solid #b49358;}
/*page*/
.pageJump {text-align: left;padding:20px 0 30px;line-height: 20px;width: 100%;overflow: hidden;}
.pageJump .number {margin: auto auto auto 40%;width: auto;display: block;float: none;height: auto;}
.pageJump .number .disabled {background: #323031;padding:5px 10px;}
.pageJump .number .disabled a{color: #fff;}
.pageJump .number .disabled:hover{background:#b49358; }
/*放大镜相册*/
#MagnifierWrap2{position: relative;width: 500px;}
.MagnifierMain{position: relative;width:500px;height:500px;overflow: hidden;display: flex;border: 1px solid #ddd;
  align-items:center;justify-content: center;}
.MagnifierMain img{width: 100%;} 
.MagnifierDrag{position: absolute;top:0;left: 0;background-color: #ccc; opacity: 0.4;filter:alpha(opacity = 40);cursor: move;}
.MagnifierPop{position: absolute;top:0;overflow: hidden;background:#fff url(http://fan.yoka.com/fan5.0/img/loading.gif) no-repeat center center; }
.MagnifierImg{position: absolute;top:0; left: 0;}
/*按钮组*/
.spec-items{position: relative;width:430px;height:70px;overflow: hidden;margin: 10px auto 0;}
.spec-items ul{width: 500%;position: absolute;top: 0;left: 0;}
.spec-items ul *{-webkit-transition: all .3s;-o-transition: all .3s;transition: all .3s;}
.spec-items li{width:100px;height: 70px;float: left;overflow: hidden;margin-right: 10px;border: 2px solid #323031;cursor: pointer;}
.spec-items li.on{border:2px solid #b49358;}
.spec-items li img{width: 100%;height: 70px;} 
span.spe_leftBtn,span.spe_rightBtn{position: absolute;bottom: 0px;display: block;width: 20px;height:70px;overflow: hidden;
  line-height:70px;font-family: "黑体";text-align: center;font-size: 30px;color: #fff;cursor: default;background-color: #323031;}
span.spe_leftBtn:hover,span.spe_rightBtn:hover{background-color:#b49358;color: #fff;cursor: pointer;} 
span.spe_leftBtn{left: 0;}
span.spe_rightBtn{right: 0;}
/*案例文字*/
.mf-property{width: 620px;}
.mf-property .main-tit{border-bottom: 1px dotted #ccc;
font-size: 22px;height: 60px;line-height:60px;margin: 0 0 20px;}
.mf-property .promise .txt{margin: 0 0 30px;}
.mf-property .promise .btn{text-align: center;padding-top: 10px;}
.mf-property .promise .btn a{background:#3d3d3d; color: #fff;line-height: 40px;font-size: 18px;
      display: inline-block;width:160px;text-align: center;height: 40px;}
.mf-property .promise .btn a:hover{background: #702800;text-decoration: none;color:#fff;}
.mf-property .promise .btn .back{background: #3d3d3d;}
.mf-property .promise .btn .back:hover{background:#b49358;color: #fff;}
/*新闻详细页*/
.news_dis .top{padding:0 0 30px;}
.news_dis .tit{font-size: 30px;text-align: center;margin-bottom: 30px;color:#333;}
.news_dis .protime{text-align:center;height: 40px;line-height: 40px;}
.news_dis .protime span i,.news_dis .protime span em{color:#e20c0c;}
.news_dis .p_style{padding: 50px 0 60px;background: #f5f5f5;}
/*预算报价*/
.on_form{padding: 0 200px;}
.on_form p{margin: 0 0 20px;}
.on_form .input,.on_form select,.on_form .textarea{font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;
  background:#fff;border:1px solid #ccc;color:#666;font-size:14px;}
.on_form .input,.on_form select{height:38px;line-height:38px;width:748px;padding: 0 0 0 10px;}
.on_form .textarea{line-height:24px;padding:10px;color:#666;width:748px; height:100px;overflow-y: scroll;}
.on_form button{width: 100%;height: 40px;background:#323031; font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;color: #fff;line-height: 40px;font-size: 18px;
  display: inline-block;border: none;}
.on_form button:hover{background:#b49358;}
/*新闻中心*/
.newslist{margin: 0 0 0 -25px;}
.newslist li{ float: left;margin: 0 0 25px 25px;}
.newslist li a,.newslist li{width: 370px;display: inline-block;}
.newslist li a .pic,.newslist li a .pic img{width: 370px;height: 250px;display: block;overflow: hidden;}
.newslist li a .pic  img{width: 370px;height:auto;min-height: 250px;}
.newslist li a .txt{width: 370px;height: 160px;background: #fff;padding: 10px 40px 20px;text-align: center;
  margin: 10px 0 0;}
.newslist li a .txt h2{font-size: 18px;line-height: 30px;height: 80px;overflow: hidden;color: #333;}
.newslist li a .txt span{width: 150px;height: 40px;background: #323031;display: inline-block;line-height: 40px;color: #fff;
  -ms-border-radius: 20px; -moz-border-radius: 20px; -webkit-border-radius: 20px;-o-border-radius: 20px; border-radius: 20px;}
.newslist li a:hover .txt span{background:#b49358;}
.boost_img li:hover img{-ms-transition: all 320ms ease-out 0s-moz-transition: all 320ms ease-out 0s;-webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;
transition: all 320ms ease-out 0s;transform: scale(1.5);-moz-transform: scale(1.5);-webkit-transform: scale(1.5);-o-transform: scale(1.5);-ms-transform: scale(1.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); background-position:center;}
/*contact_way*/
.contact_way dl{border: 1px solid #ccc;margin: 0 0 20px 0;padding:20px;}
.contact_way dl dt{border-bottom: 1px solid #ccc;padding: 0 20px 20px 0;color: #b49358;font-weight: bold;font-size: 20px;}
.contact_way dl dd{padding: 10px 0 0;font-size: 20px;}
/*

#b49358  9c7e4c
.rotate_img li a:hover img{-ms-transform:rotate(360deg);-moz-transform:rotate(360deg);-webkit-transform:rotate(360deg);-o-transform:rotate(360deg);transform:rotate(360deg); -ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;-webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
.boost_img li:hover img{-ms-transition: all 320ms ease-out 0s-moz-transition: all 320ms ease-out 0s;-webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;
transition: all 320ms ease-out 0s;transform: scale(1.5);-moz-transform: scale(1.5);-webkit-transform: scale(1.5);-o-transform: scale(1.5);-ms-transform: scale(1.5);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand')";
   filter: progid:DXImageTransform.Microsoft.Matrix(M11=1.5, M12=0, M21=0, M22=1.5, SizingMethod='auto expand'); background-position:center;}
.hd_empty{font-size:0;display:none;overflow:hidden;height:0;width: 0;}
.mask_black{background: #000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5;display: block;}
.txt_elip{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;}
.filter_img li a:hover img{filter:alpha(opacity=80);-ms-opacity:0.8;-moz-opacity:0.8;-webkit-opacity:0.8;-o-opacity:0.8;opacity: 0.8;}
.gray_img li a:hover img{-ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);
-ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;-webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;}
    字体正文颜色   color: #666666;
    字体标题颜色   color: #333333;
    色系hover      color: #0063b4;   黄 #fffd7f;
    背景           background:#f5f5f5;
    边框           border: 1px solid #d6d6d6;
    字体           font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;


red  #ff677b
    字体正文颜色   color: #666666;
    字体标题颜色   color: #333333;
    色系hover      color: #174fa2; 
    背景           background:#f3f3f3;
    边框           border: 1px solid #d6d6d6;
    字体           font-family: "微软雅黑",Verdana, Arial, Helvetica, sans-serif;
    
    
    空格  span style='white-space:pre;
    背景  background:transparent;   透明
          background: url(/images/pc/phone.png) left center no-repeat;
          background: radial-gradient(white, #EEF6F9);   渐变
          background-attachment: fixed;    背景固定
          background-clip:content-box;     背景裁剪  border-box 背景被裁剪到边框盒。 padding-box 背景被裁剪到内边距框。 content-box 背景被裁剪到内容框。
          background-size:80px 60px;       背景大小  length值    percentage百分比    cover完全覆盖    contain完全适应
    边框  border: medium double rgb(250,0,255) 
          borde-with: thin细的边框。 medium  默认;中等的边框。thick粗的边框。length宽度。inherit规定应该从父元素继承边框宽度。
          border-style: dotted点状边框。   dashed虚线。solid 实线。  double 双线。               groove  3D凹槽边框。
                        ridge 3D垄状边框。 inset 3Dinset边框。       outset 3Doutset边框。
    边框图片  border:15px solid transparent;border-image:url(/i/border.png) 30 30 round;
              border-image-source 图片路径。  border-image-slice  图片边框向内偏移。 border-image-width  图片边框的宽度。     
              border-image-outset 边框图像区域超出边框的量。                         border-image-repeat 图像边框是否应平铺(repeated)、铺满(rounded)或拉伸(stretched)。
    轮廓线outline:#00ff00 dotted thick;
    大写  text-transform: uppercase;
    行内  overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;
    圆角  -ms-border-radius: 15px; -moz-border-radius: 15px; -webkit-border-radius: 15px;-o-border-radius: 15px; border-radius: 15px;
    阴影  box-shadow:4px 2px 6px 6px #333333 inset;
          h-shadow  必需。水平阴影的位置。允许负值。  v-shadow  必需。垂直阴影的位置。允许负值。  
          blur  可选。模糊距离。                      spread  可选。阴影的尺寸。 
          color 可选。阴影的颜色。                    inset 可选。将外部阴影 (outset) 改为内部阴影。
    文本  text-shadow: X-Offset Y-Offset blur color;
    .mask{background: #000;filter:alpha(opacity=50);-moz-opacity:0.5;opacity: 0.5;display: block;}
    .elip{overflow: hidden;white-space: nowrap;text-overflow: ellipsis;display:block;}
    hd为空 {font-size:0;display:none;overflow:hidden;height:0;}
    分列  columns:100px 3;
*/

/*
H5基本样式
缩放  -ms-transform:scale(1.2);-moz-transform:scale(1.2);-webkit-transform:scale(1.2);-o-transform:scale(1.2);transform:scale(1.2);  
      scale(x,y)  定义 2D 缩放转换。                    scale3d(x,y,z)  定义 3D 缩放转换。 
      scaleX(x)   通过设置 X 轴的值来定义缩放转换。     scaleY(y) 通过设置 Y 轴的值来定义缩放转换。 
      scaleZ(z)   通过设置 Z 轴的值来定义 3D 缩放转换。
旋转  -ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg); 
      rotate(angle)   定义 2D 旋转，在参数中规定角度。  rotate3d(x,y,z,angle) 定义 3D 旋转。 
      rotateX(angle)  定义沿着 X 轴的 3D 旋转。         rotateY(angle)  定义沿着 Y 轴的 3D 旋转。  
      rotateZ(angle)  定义沿着 Z 轴的 3D 旋转。
位移  -ms-transform:translateX(45px);-moz-transform:translateX(45px);-webkit-transform:translateX(45px);-o-transform:translateX(45px);transform:translateX(45px);    
      translate(x,y)  定义 2D 转换。                    translate3d(x,y,z)  定义 3D 转换。 
      translateX(x)   定义转换，只是用 X 轴的值。       translateY(y) 定义转换，只是用 Y 轴的值。 
      translateZ(z)   定义 3D 转换，只是用 Z 轴的值。
倾斜  -ms-transform:skew(160deg,160deg);-moz-transform:skew(160deg,160deg);-webkit-transform:skew(160deg,160deg);-o-transform:skew(160deg,160deg);transform:skew(160deg,160deg);     
      skewX(angle)  定义沿着 X 轴的 2D 倾斜转换。       skewY(angle)  定义沿着 Y 轴的 2D 倾斜转换。
      skew(x-angle,y-angle) 定义沿着 X 和 Y 轴的 2D 倾斜转换。
过渡  -ms-transition: all 320ms ease-out 0s;-moz-transition: all 320ms ease-out 0s;
      -webkit-transition: all 320ms ease-out 0s;-o-transition: all 320ms ease-out 0s;transition: all 320ms ease-out 0s;
灰度  -ms-filter: grayscale(1);-moz-filter:grayscale(1);-webkit-filter:grayscale(1);-o-filter: grayscale(1);filter:grayscale(1);
透明  filter:alpha(opacity=80);-ms-opacity:0.8;-moz-opacity:0.8;-webkit-opacity:0.8;-o-opacity:0.8;opacity: 0.8;
为 3D 转换元素定义透视视图。 perspective(n)
*/

/*
时间差先后顺序     
data-300-center-top="transform: scale(0.8); opacity: 0" data-300-center-center="transform: scale(1); opacity: 1"    变大小
data-100-bottom-center="transform: rotateY(-90deg); opacity: 0" data-100-center-center="transform: rotate(0); opacity: 1" 旋转
data-100-bottom-top="transform: translateX(-200px); opacity: 0" data-center-top="transform: translateX(0px); opacity: 1"  左右-收拢效果
tdata-100-bottom-top="transform: translateY(200px); opacity: 0" data-center-top="transform: translateY(0px); opacity: 1"  上下-收拢效果
data-bottom-top="max-width: 200px;" data-bottom-bottom="max-width: 600px;"  变长短
300》200》100

data-wow-delay="0.5s"
*/

/*
animation 动画示例
.balloon > div:nth-child(1) {background: rgba(182, 15, 97, 0.9);left: 0;box-shadow: inset 10px 10px 10px rgba(135, 11, 72, 0.9);
  -moz-animation: balloon1 6s ease-in-out infinite;-o-animation: balloon1 6s ease-in-out infinite;}
@-webkit-keyframes balloon1 {
  0%,100% {-webkit-transform: translateY(0) rotate(-6deg);}
  50% {-webkit-transform: translateY(-20px) rotate(8deg);}}
@-moz-keyframes balloon1 {
  0%,100% {-moz-transform: translateY(0) rotate(-6deg);}
  50% {-moz-transform: translateY(-20px) rotate(8deg);}}
@-o-keyframes balloon1 {
  0%,100% {-o-transform: translateY(0) rotate(-6deg);}
  50% {-o-transform: translateY(-20px) rotate(8deg);}}
@keyframes balloon1 {
  0%,100% {transform: translateY(0) rotate(-6deg);}
  50% {transform: translateY(-20px) rotate(8deg);}}
*/


/*
<div class="parallax-image-wrapper" data-anchor-target="#page-intro" data-bottom-top="transform:translateY(200%)" data-top-bottom="transform:translateY(0)">
    <div class="parallax-image" style="background-image:url(assets/images/coast.jpg)" data-anchor-target="#page-intro" 
         data-bottom-top="transform: translateY(-80%);" data-top-bottom="transform: translateY(80%);">
    </div>
</div>
<div id="skrollr-body">
    <div id="page-intro" class="gap" style="background-image:url(assets/images/coast.jpg); ">
        <h1>使用6种不同视觉差特效的HTML5页面设计效果</h1>
    </div>
    <div class="dummy-content">
        <h2>Scroll to see the effect!</h2>
    </div>
</div>


 */